body{
	margin:0;
	padding:0;
	text-align:center;
	font:11px Helvetica, Arial, Geneva, Verdana, sans-serif;
	color:#808080;
	background: #D0D1C7 url(/fileadmin/images/bg-body.gif) repeat-x 0 0;
}

#absolutewrapper img{
	border:none;
/*	display:block; */
}

#absolutewrapper a, #absolutewrapper  #more-s .f_right a{
	color:#336699;
	text-decoration:none;
	background:url(/fileadmin/images/bg-a.gif) repeat-x 0 100%; 
/*	background:none; */
}	
#absolutewrapper a:hover{
	color:#336699;
	text-decoration: underline !important ;
}


#absolutewrapper h2, #absolutewrapper  h3{color:#81c121;}	

/* structure */
#absolutewrapper #pagewidth{
	margin:0 auto;
	position:relative;
	text-align:left;
	width:862px;
	z-index:1;
}

#absolutewrapper #header{
	top:0px;
	width:862px;
	height:80px;
	margin:0;
	padding:0;
	position:relative;
	background:url(/fileadmin/images/bg-header.gif);
	z-index:2000;
}
/* header */

#absolutewrapper #header a.logo{
	display:block;
	width:142px;
	height:36px;
	background:url(/fileadmin/images/logo.jpg) no-repeat;
	text-indent:-3000px;
	white-space:nowrap;
	overflow:hidden;
	position:absolute;
	left:18px;
	top:27px;
}
#absolutewrapper #header .slogan{
	position:absolute;
	top:35px;
	left:173px;
	padding-left:16px;
	background:url(/fileadmin/images/slogan-border.gif) no-repeat 0 50%;
	font:11px/14px arial,sans-serif;
	color:#000;
}

#absolutewrapper #header .slogan h1{	
	font:11px/14px arial,sans-serif;
	color:#000;
	padding:0; margin:0;
}
#absolutewrapper #header .slogan h1 a{	
	color:#000;
	background:none;
}
#absolutewrapper #header .slogan p {padding:0; margin:0;}

#absolutewrapper #header .meetings{
	width: 189px;
	height: 21px;
	position: absolute;
	top: 52px;
	left: 650px;
}

#absolutewrapper #header .meetings strong{
	display: block;
	text-align: center;
	color: #898989;
	font-size: 11px;
}

#absolutewrapper #header .meetings ul{
	width: 199px;
	margin:3px 0 0 0px;
	padding: 0 0 0 10px;
	list-style: none;
	height: 21px;
/*	background: url(/fileadmin/images/home1/bg-ul-meetings.gif) no-repeat left; */
	background: url(/fileadmin/images/bg-host.gif) no-repeat;
}
#absolutewrapper #header .meetings ul li{
/*	float: left; */
	font-size: 11px;
	font-weight:bold;
	margin: 0 10px 0 0px;
	padding: 0 0px 0 2px;
	display:inline; 
/*	background: url(/fileadmin/images/home1/bullet4.gif) no-repeat right; */
}

#absolutewrapper #header .meetings ul li a{
	color: #000;
	line-height: 21px;
	background:none;
}


/* mini navigation */
#absolutewrapper #mini-nav{
	position:absolute; 
/*	width:500px;	
	left:350px; */
left:455px; 
width:400px;  
	height:20px;
	margin:0;
	padding:0 0 0 4px; 
	list-style:none;		
	top:0px;
	font-size: 9px;
	text-align: left; 
	background-color: #fff;
	z-index:2001;
/*	float:right;
	margin-right:4px;
	padding-right:18px; */
}

#absolutewrapper #mini-nav li{
	float:left;
	line-height:22px;
	padding:0 12px 0 6px;
	position:relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333;
}

#absolutewrapper #mini-nav li.last{
	float:left;
	line-height:22px;
	padding:0 0px 0 6px;
	position:relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333;
}

#absolutewrapper #mini-nav li a{
	background:none;
	color:#333;
	text-decoration: none;
}

#absolutewrapper #mini-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	width:180px;
	background-repeat: repeat-y;
	background-position: 100%;
}

#absolutewrapper #mini-nav li div.dd{
	position:absolute;
	top:20px;
	left:0;
	display:none;
	width:180px;
	z-index:2000;
}

#absolutewrapper #mini-nav li.hover div.dd, #absolutewrapper  #mini-nav li:hover div.dd{
	display:block;
}

#absolutewrapper #mini-nav div.dd .bottom{
	height:4px;
	overflow:hidden;  
	width:129px;
	background:url(/fileadmin/images/bg-li-mini-dd.gif);
}

#absolutewrapper #mini-nav ul li{
	background:none;
	line-height:16px;
	padding:0;
	width:129px;
}

#absolutewrapper #mini-nav ul li a{
	color:#333;
	background:#F4F4F0;
	padding:0 0 1px 4px; 
	margin:0; 
	display:block;
	width:125px; 
	overflow:hidden; 
	background-image: url(/fileadmin/images/bg-li-mini-dd-c.gif);
}

#absolutewrapper #mini-nav ul li a:hover{
	color: #000;
}

#absolutewrapper #mini-nav ul li.last a, #absolutewrapper #mini-nav ul li.last a:hover{
	background-image: url(/fileadmin/images/bg-li-mini-dd-c.gif);
}

#absolutewrapper #tab2{display: none;}

#absolutewrapper .add{
	margin:0;
	padding:0px 7px 0 0;
	list-style:none;
	float:right;
	font: 9px Verdana, sans-serif;
}
#absolutewrapper .add li{
	float:left;
	padding:0 14px 0 8px;
	/*background:url(/fileadmin/images/bullet-blue.gif) no-repeat left;*/
}
#absolutewrapper .add a{
	text-decoration:none;
	color:#000;
	background:none;
}
#absolutewrapper .add a em{
	font-style:normal;
	color:#09F;
}

/*#header form{
	margin:0;
	padding:0;
	width:120px;
	position:absolute;
	bottom:16px;
	right:22px;
}
#absolutewrapper #header form fieldset{
	margin:0;
	border:none;
	padding:0;
	font-family: Verdana, sans-serif;
}
#absolutewrapper #header form input{
	border-right:none;
	border-bottom:none;
	height:14px;
	width:119px;
	font:9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
}
*/

/* footer */
#absolutewrapper #footer{
/*	clear:both; */
	width:862px;
/*	overflow:hidden; */
	font-family: Verdana, sans-serif;
	padding:30px 0 15px 0;
	background: none;
/*	background:url(/fileadmin/images/bg-main.gif); */
	position:relative;
}

#absolutewrapper #footer ul{
	margin:0;
	padding:0;
	float:left;
	font-size:9px;
	list-style:none;
}

#absolutewrapper #footer ul li{
	float:left;
	margin:0 16px 0 0;
}
#absolutewrapper #footer ul li.last{
	margin: 0 61px 0 0;
}
#absolutewrapper * html #footer ul li.last{
	margin: 0 16px 0 0;
}
#absolutewrapper #footer ul li ul li, #absolutewrapper #footer ul li ul{float:none;}
#absolutewrapper #footer a{
	color:#999;
	background:none;
	text-decoration:none;
}

/* main */
#absolutewrapper #main{
/*	background:url(/fileadmin/images/bg-main.gif); */
	overflow:hidden;
	background:url(/fileadmin/images/bodybg.gif);
	width:862px;
/*	padding:280px 0 0 0;	*/
	padding:32px 0 0 0;	
	margin-top:24px;
	z-index:2;	
}

#absolutewrapper #main-L3{
	background:url(/fileadmin/images/bodybg.gif);
	width:862px;
	padding:0px 0 0 0;	
	margin:0;
	z-index:1;
}

#absolutewrapper #main-top{
	background:url(/fileadmin/images/bodybg.gif);
	width:862px;
	margin-top:24px;
	padding:0;	
	z-index:1;
	overflow:hidden;
}

#absolutewrapper #top {position:relative; padding-top:23px; left:0px; width:862px; }
/*
#absolutewrapper #allcontent{
	background:url(/fileadmin/images/bg-main.gif);
	margin:20px 0 0 0; 
	padding:0px 0 0 0;
}
*/
#absolutewrapper #main-news{
 	position:relative; 
	top:4px; 
	background:url(/fileadmin/images/bodybg.gif); 
	overflow:hidden; 
	width:862px;
	padding-top:0px;
	margin-top:20px;
	height:auto;
/*	top:106px;
	position:absolute;*/
}

/* left column */
#absolutewrapper #left{
	position:absolute; 
	margin:10px 0 0 17px;
	padding: 0px;
/*	background:url(/fileadmin/images/bg-right.gif); */ 
	z-index:125; 
	left:0px;
	top:130px;
	width:217px;
}

#absolutewrapper #left h3{
	margin:0px 8px 0 8px;
	width:190px;
	height:20px;
	color:#fff;
	padding:0 7px 0 7px;
	font: bold 11px/20px Helvetica, Arial, Geneva, Verdana, sans-serif;
	letter-spacing: .05em;
	border-bottom:1px solid #ccc;	
}

#absolutewrapper #left h3 a, #absolutewrapper  #left h3 a:link{
	margin:0;
	width:215px;
	height:20px;
	color:#000;	
	font: bold 11px/18px Helvetica, Arial, Geneva, Verdana, sans-serif;
	text-decoration:none;
	letter-spacing: .05em;
	padding:0px;
}

#absolutewrapper #left h3 a {
background:none;
}

#absolutewrapper #left div{
	background:url(/fileadmin/images/bg-right-b.gif) no-repeat 0 100%;
	width:217px;
	padding:0 0 4px 0;
	margin: 0;
	overflow:hidden;
}

#absolutewrapper #left div.top{
	background:/*url(/fileadmin/images/bg-right-b.gif) no-repeat 0 100%;*/none;
	width:217px;
	padding:0 ;
	margin: 0;
	height:7px;
	overflow:hidden;
} 

#absolutewrapper #left div.header{
	background:/*url(/fileadmin/images/bg-right-b.gif) no-repeat 0 100%;*/none;
	width:217px;
	padding:0 ;
	margin: 0;
	overflow:hidden;
} 

#absolutewrapper #left div.gap{
	background: none;
	width:217px;
	height:10px;
}

#absolutewrapper #left ul{
/*	width:215px; */
	width:215px;
	margin:0px;
	padding:0;
	list-style:none;
/*	overflow:hidden; */
}
#absolutewrapper #left ul li{
	width:204px;
/*	float:left; */
	padding:0px;
	margin:0px 2px 0 2px;
/*	border-bottom:1px solid #ccc;	*/
	background:#F8F8F1 url(/fileadmin/images/bg-left-li.gif) no-repeat 0 100%; 
}

#absolutewrapper #left ul li a{
	color:#000;
	text-decoration:none;
	display:block;
	height:24px;
	line-height: 24px;
	padding:0 0 0 17px;
	margin:0px 2px 0 8px;
/*	background:url(/fileadmin/images/bg-close.gif) no-repeat left; */
}

#absolutewrapper #left ul li.active {width:215px; margin:1px 1px; padding:0; background: #e8e7db; font-weight:bold;}

#absolutewrapper #left ul li.active a{
/*	background: url(/fileadmin/images/bg-open.gif) no-repeat left; */
    
}

#absolutewrapper #left ul li ul{
	display:none;
}
#absolutewrapper #left ul li.active ul{
	display:block;
}
#absolutewrapper #left ul li.active ul{
	width:215px;
/*	overflow:hidden; */
	background:#fff;
	padding:5px 0;
	margin:0px;
}

#absolutewrapper #left ul li.active ul li{
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#absolutewrapper #left ul li.active ul li a{
	background:none;
	height:auto;
	padding:0 0 0 28px;
	line-height:19px; 
	color:#666;
	font-weight:normal;
}
/* sub.css
#absolutewrapper #left ul li.active ul li a:hover, #absolutewrapper #left ul li.active ul li.active a{
	background:#F4F4F0; 
	color: #81c121;
}
*/
#absolutewrapper #left ul li.active ul li ul{
	display:none;
}

#absolutewrapper #left ul li.active ul li.active ul, #absolutewrapper  #left ul li.active ul li.active1 ul{
	display:block;
	width:190px;
	padding:0 0 3px 0;
	margin:0 0 0 19px;
	overflow:hidden;
}
#absolutewrapper #left ul li.active ul li.active ul li, #absolutewrapper  #left ul li.active ul li.active1 ul li{
	width:190px;
}

#absolutewrapper #left ul li.active ul li.active ul li a,
#absolutewrapper #left ul li.active ul li.active ul li a:hover,
#absolutewrapper #left ul li.active ul li.active1 ul li a,
#absolutewrapper #left ul li.active ul li.active1 ul li a:hover{
	font-weight:normal;
	width:177px;
	color:#000;
	line-height:16px;
	padding:0 0 0 25px;
	background:none;
}

/*
#absolutewrapper #left strong{
	font-size:10px;
	display:block;
	width:189px;
	margin:-1px 0 0 0;
	position:relative;
	padding:8px 0 0 22px;
	background:url(/fileadmin/images/bg-left-strong.gif) no-repeat 0 0;
	color:#000;
}
#absolutewrapper #left ul.contact{
	margin:0 0 0 19px;
	padding:0;
	width:192px;
	overflow:hidden;
	list-style:none;
}
#absolutewrapper #left ul.contact li{
	width:192px;
	padding:0;
	float:left;
}
#absolutewrapper #left ul.contact li a{
	background:none;
	color:#999;
	font-weight:normal;
	text-decoration:none;
	display:block;
	height:28px;
	line-height:26px;
	padding:0 0 0 26px;
	margin:0;
	width:166px;
}
#absolutewrapper #left ul.contact li.toll-free{background:url(/fileadmin/images/img-phone.gif) no-repeat 4px 5px}
#absolutewrapper #left ul.contact li.contact{background:url(/fileadmin/images/img-mail.gif) no-repeat 4px 8px}
#absolutewrapper #left ul.contact li.l-demo{background:url(/fileadmin/images/img-pp.gif) no-repeat left}
#absolutewrapper #left ul.contact li.l-chat{background:url(/fileadmin/images/img-chat.gif) no-repeat left}
/* content column */

#absolutewrapper #content{
	width:591px;
	float:right;
/* 	margin:280px 21px 0 300px; */
    margin:322px 21px 0 0;	
	display:inline;
}

#absolutewrapper #content_L4{
	width:591px;
	float:right;
/* 	margin:280px 21px 0 300px; */
    margin:20px 21px 0 0;	
	display:inline;
}
#absolutewrapper .breadcrumb{
	margin:0;
	padding:0;
	overflow:hidden;
	width:800px;
	list-style:none;
	font: 9px Arial, Helvetica, sans-serif;
	z-index:200;
}
/* sub.css
#absolutewrapper .breadcrumb li{
	color:#99CC33;
	float:left;
	margin:0 8px 0 0;
}
#absolutewrapper .breadcrumb li a:hover{
	color:#99CC33;
}
*/
#absolutewrapper .breadcrumb li a{
	text-decoration:none;
	color:#444;
	background:none;
}

#absolutewrapper #content .text{
	width:591px;
	overflow:hidden;
	margin:3px 0 0 0;
	padding:20px 0 0 0;
	background:url(/fileadmin/images/bg-text.jpg) no-repeat 0 0;
}

#absolutewrapper #content .text h3{
	color:#4F4F4F;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0 0 .5em;
}
#absolutewrapper #content .text p{
	margin: 2px 5px 0 0;
	font-size: 12px;
	line-height: 1.4em;
	letter-spacing: -.03em;
}
#absolutewrapper #content .text .left .options{margin:13px 0 0 1px;}
#absolutewrapper #content .text .right .options{margin:13px 0 0 62px;}
#absolutewrapper #content .top .options{
	margin:35px 0 0 154px;
}

#absolutewrapper .options{
	margin:0;
	padding:0;
	overflow:hidden;
	width:430px;
	list-style:none;
}

#absolutewrapper .options a{
	background:url(/fileadmin/images/bullet-more.gif) no-repeat left;
	color:#000;	
	padding:0 0 0 17px;
	margin:0px;
	font-weight:bold;
}

#absolutewrapper .options li{
	float:left;
}

#absolutewrapper .options li.first{
	margin:0 20px 0 0;
}

#absolutewrapper #content .text .left{
	width:234px;
	display:inline;
	float:left;
	padding:0 28px 0 0;
	margin:0 0 0 20px;
}
#absolutewrapper #content .text .right{
	width:309px;
	float:left;
}
#absolutewrapper #content .text .right em{
	display:block;
	font-style:normal;
	font-weight:bold;
	color:#808080;
	margin:13px 0 0 0;
}
#absolutewrapper #content .top{
	width:591px;
	height:172px;
	margin:3px 0 0px 0px;
	overflow:hidden;
	padding:0px 0 0 0px;
	background:url(/fileadmin/images/bg-top.jpg);
}

#absolutewrapper #content .top img{
    float:left;    
}

#absolutewrapper #content .top div{
	width:345px;
	float:left;
	margin:0 0 0 0px;	
	padding:18px 4px 0 0px;
	display:inline;
}

#absolutewrapper #content .top h2{
	color:#81c121;
	font:16px Helvetica, Arial, Geneva, sans-serif;
	margin:0;
}

#absolutewrapper #content .top p{
	font: 14px/1.3em Helvetica, Arial, Geneva, sans-serif;
	margin:0;
	color:#000;
	padding-right: 20px;
	letter-spacing: -.03em;
	padding-top: 6px;
}
#absolutewrapper #visual{
	width:862px;
	height: auto;
	position:absolute; 
	top:103px;
	left:0;
	padding:1px 0 0 0;
/*	background:url(/fileadmin/images/bg-visual.gif) no-repeat 0 0; */
	z-index:1;	
}

/* main navigation */
#absolutewrapper #main-nav{
	width:862px;
	height:24px;
	background:url(/fileadmin/images/bg-main-nav.gif);
	margin:0 0 0 0px;
	padding:0px;
	list-style:none;
	position:absolute;
	left:0;
	top:80px;
}
#absolutewrapper #main-nav li{
	float:left;
	line-height:24px;
	background:url(/fileadmin/images/divider-top.gif) no-repeat right;
	padding:0 16px 0 16px;
	position:relative;
}
#absolutewrapper #main-nav li.last{
	background:none;
}
#absolutewrapper #main-nav li a{
	background:none;
	color:#fff;
	font-weight:bold;
	letter-spacing: .08em;
}
#absolutewrapper #main-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	width:192px;
	background:url(/fileadmin/images/bg-li-dd-c.gif) repeat-y 100% 0;
}

#absolutewrapper #main-nav div.dd{
	position:absolute;
	top:24px;
	left:0;
	display:none;
	width:192px;
}
#absolutewrapper #main-nav div.end{
	position:absolute;
	top:24px;
	left:-37px;
	display:none;
	width:192px;
}
#absolutewrapper #main-nav li.hover div.dd,#main-nav li:hover div.dd, #main-nav li.hover div.end, #absolutewrapper  #main-nav li:hover div.end{
	display:block;
}
#absolutewrapper #main-nav .bottom{
	height:4px;
	overflow:hidden;
	width:192px;
	background:url(/fileadmin/images/bg-nav-b.gif);
}
#absolutewrapper #main-nav ul li{
	background:none;
	line-height:26px;
	padding:0;
	font-weight:normal;
	width:191px;
}
#absolutewrapper #main-nav ul li a{
	color:#000;
	background:#F4F4F0 url(/fileadmin/images/bg-top-nav-li.gif) no-repeat 0 100%;
	font-weight:normal;
	padding:0 0 1px 16px;
	display:block;
	width:175px;
}
#absolutewrapper #main-nav ul li a:hover{
	background:#fff url(/fileadmin/images/bg-top-nav-li.gif) no-repeat 0 100%;
}
#absolutewrapper #main-nav ul li.last a, #absolutewrapper #main-nav ul li.last a:hover{
	background-image:none;
}
#absolutewrapper .text-flash{
	width:402px;
	height:177px;
	position:absolute;
	top:123px;
	right:20px;
	background:url(/fileadmin/images/bg-text-flash.png);
	opacity: 0.93;
	z-index:3;
}
#absolutewrapper .opt-buy, #absolutewrapper .opt-buy2{
	margin:0;
	padding:0;
	width:253px;
	height:21px;
	z-index:100;
	top:132px;
	left:75px;
	position:absolute;
	background:url(/fileadmin/images/bg-opt-buy.gif);
	list-style:none;
}
#absolutewrapper .opt-buy2{
	background:url(/fileadmin/images/bg-opt-buy2.gif);
}
#absolutewrapper .opt-buy li, #absolutewrapper .opt-buy2 li{
	float:left;
	text-align:center;
}
#absolutewrapper .opt-buy li a, #absolutewrapper .opt-buy2 li a{
	background:none;
	display:block;
	color:#000;
	font-weight:bold;
	font-size:10px;
	line-height:20px;
}

#absolutewrapper .opt-buy li.buy-it-now a{color:#fff;}

#absolutewrapper .free-trial{
	margin:0px 2px 0 0;
	width:84px;
}
#absolutewrapper .buy-it-now{width:83px;}
#absolutewrapper .live-demo{width:82px;}
#absolutewrapper .text-flash strong{
	color:#87C22B;
	display:block;
	margin:22px 0 0 26px;
	font: 20px Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: -.03em;
}
#absolutewrapper .text-flash p{
	font: 16px/1.3em Helvetica, Geneva, Arial, sans-serif;
	margin:2px 20px 0 26px;
	color:#000;
}
/* inner2 page */
#absolutewrapper #content .text-content{
	width:550px;
	overflow:hidden;
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	margin:3px 0 0 0;
	padding:20px 22px 0 19px;
	background:url(/fileadmin/images/bg-text.jpg) no-repeat 0 0;
}
#absolutewrapper .text-content h2{
	margin: 0 0 6px;
	font-size:14px;
	color: #87C22B;
	padding-right: 100px;
}
#absolutewrapper .text-content h2 strong{
	color:#000;
}
#absolutewrapper .text-content p{
	margin: 4px 20px 0 0;
	padding-right: 10px;
	line-height: 1.25em;
}

#absolutewrapper .text-content .options{
	margin:0 0 0 342px;
}
#absolutewrapper .text-content .options a{
	font:bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#absolutewrapper .topics a{
	color:#336699;
	background:url(/fileadmin/images/bg-a.gif) repeat-x 0 100%;
	}


#absolutewrapper #more-s ul li.active a{
	background:url(/fileadmin/images/bg-open.gif) no-repeat left;
}

#absolutewrapper #more-s ul li ul, #absolutewrapper  #more-s li ul{
	display:none;
}
#absolutewrapper #more-s ul li.active ul, #absolutewrapper  #more-s li.active ul{
	display:block;
}
#absolutewrapper #more-s ul li.active ul{
	width:209px;
	overflow:hidden;
	background:#fff;
	padding:5px 0 0 0;
}
#absolutewrapper #more-s ul li.active ul li{
	background:none;
	padding:0;
	width:209px;
}

/*
#absolutewrapper #more-s ul li.active ul li a{
	width:189px;
	background:none;
	height:auto;
	padding:0 0 0 20px;
	line-height:17px;
	color:#666;
	letter-spacing: .06em;
}
*/
#absolutewrapper #more-s p.sub, #more-s p.sub li.arrow, #absolutewrapper  #more-s p.sub li{
	margin: 0px;
	padding: 0px 0 10px 0;
	font-size: 12px;
	color: #666666;
	line-height: 1.2em;
	background:none;
	width:420px;
}

#absolutewrapper #more-s li.active li ul li, #absolutewrapper   #more-s li.active ul {
	width:420px;	
	background: none;
	padding:3px 0px 12px 0px;
	margin:0;
	list-style:none;
}

#absolutewrapper #more-s li.active li ul li, #absolutewrapper   #more-s li.active ul ul  {
	width:380px;	
	background: none;
	padding:0 0px 5px 8px;
	margin:0;
	list-style:circle;
	list-style-type:circle;
}

#absolutewrapper #more-s li li a, #more-s li li li a, #absolutewrapper  #more-s li.active li a {
	background:none;
	margin:0;
	padding:0;
}

#absolutewrapper #more-s .f_left p.sub, #absolutewrapper  #more-s .f_left h2 {
	float:left;
	width:250px;
}
#absolutewrapper .text-flash h2{
	font: 25px Arial, Helvetica, sans-serif;
	color:#000;
	margin:10px 0 0 74px;
}

#absolutewrapper .text-flash span{
	font: 25px Arial, Helvetica, sans-serif;
	margin:0 0 0 74px;
	color: #81c121;
}

#absolutewrapper .text-flash.w-bg{background:none;}

#absolutewrapper .text-content h2.sub{
	margin: 0 0 6px;
	font-size: 14px;
	color: #87C22B;
	line-height: 1.25em;
	padding-right: 100px;
}

#absolutewrapper .text-content h2.sub strong{
	color:#000;
}

#absolutewrapper .text-content p.sub, .text-content li.arrow, #absolutewrapper  .text-content li{
	margin: 4px 20px 0 0;
	padding-right: 10px;
	font-size: 12px;
	color: #666;
	line-height: 1.3em;
}


/** added 02/02 **/
#absolutewrapper #bread{
	width:800px;
	position:absolute;
	top:112px;
	left:0;
	background: none;
	z-index:201;
	margin: 0px 0 0 15px;	
}

#absolutewrapper .text-flash1{
	width:540px;
	top:138px;
	left:250px;
	background:none;
	position:absolute;
	opacity: 0.93;
	z-index:100;
	}

#absolutewrapper .text-flash1 h1{color:#090; font: 23px/24px Arial, Helvetica, sans-serif; font-weight:bold; margin:0; padding:0;}
#absolutewrapper .text-flash1 h2{color:#000; font: 23px/24px Arial, Helvetica, sans-serif; margin:0; padding:0 0 2px 0;}

/*
#absolutewrapper .text-flash1 strong{
	color:#272C2A;
	display:block;
	margin:10px 0 0 16px;
	font: 25px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -.03em;
}

#absolutewrapper .text-flash1 a .button {
	font: 16px/1.1em Helvetica, Geneva, Arial, sans-serif;
	width: 224px;
	height: 49px;
	margin: 15px 10px 20px 50px;	
	background:url(/fileadmin/images/btn-blue.gif) no-repeat;
	opacity: .93;
	text-decoration:none;
}

#absolutewrapper .text-flash1 a:hover .button
{
	width: 224px;
	height: 49px;
	cursor:pointer;
	background:url(/fileadmin/images/btn-grn.gif) no-repeat;
}

#absolutewrapper .text-flash1 .button p, #absolutewrapper  .text-flash1 a .button p  {
  text-decoration:none;
  text-align:center;
  padding:14px 0 0 0px;
  margin: 0;
  font-weight:bold;
  color:#fff;
}


#absolutewrapper .text-flash1 .button p.sub {
  font: 11px/1.1em Helvetica, Geneva, Arial, sans-serif;
  color:#fff;
  text-decoration:none;
  font-weight:normal;
  padding:0;
  margin:0;
}
*/

/*#content{
	width:591px;
	float:right;
	margin:200px 21px 0px 0px;
	display:inline;
	padding:0;
}
*/
#absolutewrapper #content-news{
	width:597px;
	float:right;
	margin:0px 18px 0px 0px;
	display:inline;
	padding:30px 0 0 0;
}

#absolutewrapper #content-original{
	width:590px;
	float:right;
	display:inline; 
	margin:0px 18px 0px 0px;
	padding:20px 0;
	z-index: 50; 
}

#absolutewrapper #content-left{
	width:448px;
	float:left;
	margin:0px;
	padding:0;
	display:inline; 
	z-index: 50;
	opacity: 0.93;
	position:relative;
}

#absolutewrapper #content-left-news{
	width:456px;
	float:left;
	margin:0px;
	padding:0px 0px 0 5px;
	display:inline;
/*	background:url(/fileadmin/images/bg-news.gif) no-repeat; */
}

#absolutewrapper #content-right{
	width:123px;
	float:right;
	margin:0px;
	display:inline; 
/*	opacity: 0.93; */
	z-index:50;
	padding:0;
/*	padding-top:-20px; */
	position:relative;
}

#absolutewrapper #content-right ul {	
	margin:0px;
	width:112px;
	overflow:hidden;
	padding:0px 0 0 20px;
	list-style:none;
/*	background:url(/fileadmin/images/separator.gif) repeat-x;  */
}

#absolutewrapper #content-right li {
	background:none;
	margin:0px 0 0px 0px;
	padding:0px;
	width:112px;	
	font: 11px/13px Arial, Helvetica, Geneva, Verdana, sans-serif;
	font-weight:bold;
	color:#000;	
}

#absolutewrapper #content-right li  a {
/*    background:url(../images/bullet-left.gif) no-repeat left; */
    background:none;
	padding:0px;
	width:112px;
	font-weight:bold;
	display:block;
	color:#000;
}

#absolutewrapper #content-right li.desc {
    background: none;
	margin:3px 0 0px 0px;
	padding:2px 0 0 0px;
	font: 11px/13px Arial, Helvetica, Geneva, Verdana, sans-serif;
	color:#5c5c4d;
	width:112px;
	font-weight:normal;
	letter-spacing: 0;
	
}

#absolutewrapper #content-right li.desc a {color:#5c5c4d; font-weight:normal; padding:0px 0px 0px 0px; margin:0; width:120px; background:none;}

#absolutewrapper .topmid{
	display:block;
	width:448px;
	margin:0;
	overflow:hidden; 
	padding:0px 0 0 4px;
	z-index:120;
	font:12px/16px Arial, Helvetica, sans-serif;
	color:#5c5c4e;
}

#absolutewrapper .text .left img{
	float:left;
	margin-right:10px;
	margin-bottom:8px;
}

#absolutewrapper .topmid div{
	width:345px;
	float:left;
	margin:0 0 0 21px;
	display:inline;
}

#absolutewrapper .topmid h1{
    position:relative;
	top:0px;
	left:0px;
	color:#666666;
	margin:0;	
	font: 17px Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
}

#absolutewrapper .topmid h2{	
	font: 17px/20px Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
	margin:0;
	padding:0;
}

#absolutewrapper .topmid div.bright {float:right; width:332px; display:inline; margin:0;}

#absolutewrapper .topmid p , #absolutewrapper .topmid p.sub, #absolutewrapper  p.z12 {
	font: 12px/16px Arial, Helvetica, Geneva, sans-serif ;
	margin:0;
	color:#5c5c4e;
	padding: 2px 0px 4px 0;
/*	letter-spacing: -.03em; */
}

#absolutewrapper .ltext p.z12, #absolutewrapper  .rtext p.z12  {padding:4px 0 5px 0;}

#absolutewrapper .z14,#absolutewrapper .sz14,#absolutewrapper p.sz14 {
	font: 14px/16px Arial, Helvetica, Geneva, sans-serif;
	color:#666666;
	padding:0;
}
#absolutewrapper .sz14 a {background:none;}

#absolutewrapper .topmid p.z14 {color:#515142;}

/*.topmid p.z14 a,*/ p.z20 a, .imgtext p.z14 a{background:none; color:#515142;}

#absolutewrapper .topmid p.hz14 {
	font: 12px Arial, Helvetica, Geneva, sans-serif;
	color:#000;
	padding:10px 0 0 10px;
	background:#f6f5f0; 
	border-top:1px solid #cccccc;
	height:24px;}

#absolutewrapper .z12, #absolutewrapper  .sz12{
	font: 12px/16px Arial, Helvetica, Geneva, sans-serif;
	color:#666666;
}

#absolutewrapper .z11{
	font: 11px/1.3em Arial, Helvetica, Geneva, sans-serif;
	color:#666666;
}

#absolutewrapper .z10{
	font: 10px/1.3em Arial, Helvetica, Geneva, sans-serif;
	color:#666666;
}

#absolutewrapper p.z20{
	font: 20px/25px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -.0035em;
	color:#515142;
	padding:0 0 0px 0;
	margin:0 0 0px 0;
}
#absolutewrapper p.z18{
	font: 18px/23px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -.0035em;
	color:#515142;
	padding:0 0 0px 0;
	margin:0;
}
#absolutewrapper p.z18 a {background:none; color:#515142; font: 18px/18px Arial, Helvetica, Geneva, sans-serif; padding:0; margin:0;}

#absolutewrapper .topmid ul{
	margin:5px 0px 10px 0px;
	padding:1px 0 0 0;
	width:448px;
	overflow:hidden;
	float:left;
	list-style:none;
	background:url(/fileadmin/images/separator.gif) repeat-x 0 0; 
}

#absolutewrapper .topmid ul.nobg{
	margin:0px 0px 0px 0px;
	padding:1px 0 0 0;
	width:448px;
	overflow:hidden;
	float:left;
	list-style:none;
	background:none;
}

#absolutewrapper .topmid li{
	width:448px;
	float:left;
	padding:0px 0 1px 0;
	margin: 6px 0 6px 0;
	font:12px Arial, Helvetica, sans-serif;
	background:url(/fileadmin/images/separator.gif) repeat-x 0 100%; 
/*	background:none; */
}


#absolutewrapper .topmid li.nobg{
	width:446px;
	float:left;
	padding:0px;
	margin: 8px 0 0px 0;
/*	background:url(/fileadmin/images/separator.gif) repeat-x 0 100%; */
	background:none;
}

#absolutewrapper .topmid li.arrow{		
	padding:5px 0 0 15px;
	margin:0px;
	list-style:outside;
	background:url(/fileadmin/images/home1/bullet3.gif) no-repeat 0 10px;
	width:410px; 
	font: 12px/15px Arial, Helvetica, Geneva, sans-serif ;
	color:#5c5c4e;		
}

#absolutewrapper .topmid ul li ul{
	background:none;
	padding:2px 0 0 0;
	margin:0;
	float:right;
	right:0px;
	position:relative;
}

#absolutewrapper ul.bullet1
{ width:332px;
  float:right;
  margin:0;
  padding:0;
}  	


#absolutewrapper .bullet1 li {
	margin:0px;
	color:#434343;
	background:none;
	font:bold 12px/14px  Arial, Helvetica, sans-serif;
	float:left;
	padding:8px 0 15px 0;
	width:auto;
}

#absolutewrapper .bullet1 li.button {
	margin:0px;
	padding:0;
	color:#fff;
	float:right;
	width:115px;
/*	background:url(../images/freetrial_small.jpg) no-repeat;
	font:bold 12px/14px  Arial, Helvetica, sans-serif;*/	
}

#absolutewrapper ul.bullet12{
	background:none;
	padding:5px 0 5px 0;
	margin:0;
	float:left;
	position:relative;
	list-style:none;	
}

#absolutewrapper .bullet12 li {
	margin:0;
	color:#000;
	background:none;
	font:bold 12px/14px  Arial, Helvetica, sans-serif;
	float:left;
	padding:0px;
	width:auto;
}

#absolutewrapper .bullet1 li a {
	margin:0;
	padding:0 20px 0 22px;
	color:#434343;
	background:url(../images/small-arrow.gif) no-repeat right;	
	text-decoration:none;
}

#absolutewrapper #content .topmid .options{
	margin:35px 0 0 0px;
	padding:0;
}


#absolutewrapper .text .left, #absolutewrapper  .bottom .leftbox{
	width:200px;
	display:inline;
	float:left;
	padding:0 0px 0 0;
	margin:15px 0 0 0px;
}

#absolutewrapper .text .right, #absolutewrapper  .bottom .rightbox{
	width:200px;
	float:right;
	margin:15px 0 0 0px;
	display:inline;
}

#absolutewrapper .text,#absolutewrapper .box,#absolutewrapper #content .bottom,#absolutewrapper #content-original .bottom{
	width:431px;
	overflow:hidden;
	margin:10px 0 0 12px;
	padding:0px 0 0 0;
	background: none ;
}

#absolutewrapper .bottom .leftcol {
    width:95px;
	float:left;
	margin:0px 5px 0 0px;
	display:inline;
}

#absolutewrapper .bottom .rightcol{
    width:95px;
	float:right;
	margin:0px 0px 0 5px;
	display:inline;
}

#absolutewrapper .bottom p{
	margin: 0px;
	font-size: 10px;
	line-height: 1.1em;
	letter-spacing: .03em;
}

#absolutewrapper .bottom h3, #absolutewrapper   .bottom h3 a{
    color:#81c121;
	font-size: 10px;
	line-height: 1.0em;
	margin:0 0 5px 0px;
}


/* for product pages 02/02 */
/*
#absolutewrapper #content-top{
    width:230px;
	position:absolute; 
	top:150px;
	left:18px;
	margin:0px 0 0 0px;
	padding:1px 0 0 0px;
}
*/

#absolutewrapper #mainimg{	
	position:absolute; 
	width:588px;
	float:right;
	padding:0;	
/*	margin:119px 0px 0 254px; */
	margin:145px 0 0 254px;
	z-index:1;
/*	clear:none; */
}

#absolutewrapper #mainimg1{	
	position:relative; 
	width:588px;
	float:right;
	padding:0;	
/*	margin:119px 0px 0 254px; */
	margin:0 18px 0 0px;
	display:inline; 
	z-index:1;
/*	clear:none; */
}


#absolutewrapper #content-top h1 {
    color:#333333;
	margin:0 0 0px 0px;	
	font: 19px Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
    left:0px;
	position:relative;
}

#absolutewrapper #content-top ul {
	margin:10px 0 15px 0px;
	width:212px;
	overflow:hidden;
	padding:0px 0 0 0px;
	list-style:none;
	background:url(/fileadmin/images/separator.gif) repeat-x 0 0;
}

#absolutewrapper #content-top li {
    background: none;
	margin:5px 0 0;
	padding:0;
	width:212px;
	font: bold 19px/20px Arial, Helvetica, Geneva, Verdana, sans-serif;
	color:#000000;
	float:none;
}

#absolutewrapper #content-top li.desc{
    background: none;
	margin:0px 0 0 0px;
	padding:0px 0 0 20px;
	font: 12px/15px Arial, Helvetica, Geneva, Verdana, sans-serif;
	color:#666666;
	font-weight:normal;
}

#absolutewrapper #content-top h2.sub, #absolutewrapper  h2.sub {
    color:#666666;
	margin:0 0 10px 0px;	
	font: 17px Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
    left:0px;
}

#absolutewrapper #content-top .topleft {
    width:219px;
	height:172px;
	color:#333333;
	margin:10px 10px 10px 0px;
	font: 12px Arial, Helvetica, Geneva, sans-serif;
	background:url(/fileadmin/images/bg-lefttop.gif);
}

#absolutewrapper #content-top .topleft p {
  padding:30px;10px; 10px; 30px;
}

#absolutewrapper .freetrial{position:relative; z-index:50; width:158px; margin:20px 0 0 0; float:right; background:url(/fileadmin/images/freetrial.jpg) no-repeat; height:77px;}
#absolutewrapper .freetrial_over{width:158px; float:right;background:url(/fileadmin/images/freetrial_over.jpg) no-repeat; height:77px;}

#absolutewrapper .freetral_txt{z-index:25; width:158px; float:left; line-height:45px; text-align:center;}
#absolutewrapper .freetral_txt a{color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; background:none; text-decoration:none;}
#absolutewrapper .freetral_txt a:hover{ text-decoration:none !important;  color:#fff;}

#absolutewrapper .freetral_link{position:relative; z-index:56; width:158px; float:left; margin-top:-4px; padding:0;}
#absolutewrapper .freetral_link ul{list-style-type:none; margin:0px; padding:0px; background:none;}
/*.freetral_link li a{font-weight:bold; font-size:11px; color:#000; background:none;}*/
#absolutewrapper .freetral_link li a:hover{ text-decoration:underline; color:#000;}
#absolutewrapper .freetral_link li{display:inline; padding:0px; line-height:25px; background:none; list-style-type:none; margin:0;}
/*.freetral_link li a {color:#000; font-weight:bold; font-size:11px;} */

#absolutewrapper #text-top{
	width:589px;
	margin:0px 18px 0 0;
/*	position:absolute; 
	padding:0px;
	right:18px; */
/*	padding:100px 0 0 300px; 
	background:none;
	opacity: 0.93;	*/	
	float:right;
	display:inline;     
	text-align:left;
	z-index:50;
}
#absolutewrapper .webexheading{position:relative; width:403px; text-align:left; float:left; padding:0; display:inline; z-index:51;}

#absolutewrapper #text-top h2{color:#000; margin:0; padding:0; font: 25px/28px Helvetica, Geneva, arial, sans-serif;}

#absolutewrapper .heading1{color:#606056; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;}
#absolutewrapper #text-top h1{color:#009900; margin:0; font: 25px/28px Arial, Helvetica, sans-serif; padding:0; z-index:51;}
#absolutewrapper .heading4{color:#009900; font-family:Arial, Helvetica, sans-serif; font-size:18px;}

#absolutewrapper #text-top strong{
	color:#272C2A;
	display:block;
	margin:10px 0px 0 12px;
	font: 19px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -.03em;
	font-weight:bold;
	text-align:left;
	float:left;
}

#absolutewrapper #text-top p.sub {
  font: 11px/13px Helvetica, Geneva, Arial, sans-serif;
  color:#606056;
  text-decoration:none;
  font-weight:bold;
  padding:2px 0px 0px 0px; 
  text-align:left;
  margin: 0;
}


#absolutewrapper #text-top a .button, #absolutewrapper  #text-top .button{
	background:url(/fileadmin/images/btn-blue.gif) no-repeat;
	font: bold 17px/1.1em Helvetica, Geneva, Arial, sans-serif;
	width: 224px;
	height: 49px;
	margin: 0;	
	color:#FFF;
    text-align:right;
	align:right;
	float:right;
	opacity: 0.93;
	text-decoration:none;
}

#absolutewrapper #text-top a:hover .button {
	background:url(/fileadmin/images/btn-grn.gif) no-repeat;
/*	width: 224px;
	height: 49px;
	cursor:pointer;*/
}

#absolutewrapper #text-top a .button p {
  text-decoration:none;
  text-align:center;  
  margin: 0;
  padding:8px 0 0 0;
  color:#FFFFFF;
}

#absolutewrapper #text-top a .button p.sub {
	font-size:12px;
	text-align:center;
	color:#FFFFFF;
	margin:0;
	padding:0;
}

#absolutewrapper #more-s{
	margin:4px 0px 0 5px;
	padding:1px 0 0 0;
	width:430px;
	overflow:hidden;
	list-style:none;
	background:url(/fileadmin/images/separator.gif) repeat-x 0 0;
}

#absolutewrapper #more-s li{
	width:430px;
	float:left;
	padding:0 0 4px 0;
	background:url(/fileadmin/images/separator.gif) repeat-x 0 100%;
}

#absolutewrapper #more-s li li, #absolutewrapper  #more-s li li li {
	background:none;
}

#absolutewrapper #more-s li li ul{
	padding:5px 0 0 0;
}

#absolutewrapper #more-s h2.sub{
	margin: 0;
	font-size: 13px;
	color: #009900;
	line-height: 1.3em;
	padding: 5px 0 2px 0;	
}

#absolutewrapper #more-s .f_right p.sub{ width:auto;}
#absolutewrapper #more-s .f_right h3{
	margin: 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #000;
	padding:0;	
	display:inline;	
}

#absolutewrapper #more-s .f_right h3 a{color:#000; padding:0; margin:0;}

#absolutewrapper li.pr{
 padding:15px 0 15px 0;
 margin: 0; 
 width:435px;
 overflow:visible;
}

#absolutewrapper li.pr .date{
	float:left;
	width:60px;
	padding:0 10px 0 0 ;
	margin:0;
	align:left;
}

#absolutewrapper li.pr .right{
	float:right;
	width:360px;	
	padding:0x 5px 0 0px;
	margin:0px;
	valign:top;
	align:left;
}

#absolutewrapper li.pr a {
background:none;
}

#absolutewrapper .box1 {
	width:448px;
	overflow:hidden; 
	margin:10px 0 0 0px;
	padding:0px;
	background: none ;	
	z-index:1;
	height:auto;
}

#absolutewrapper .box {
	width:431px;
	overflow:visible; 
	margin:0px 0 0 0px;
	padding:0px 0 0 0;
	background: none ;
    position:absolute;	
/*	height:auto; */
	height:2px;
	z-index:2;
}

#absolutewrapper .box2 {
    position:relative;
	width:450px;
	margin:0px;
	padding:5px 0 0px 0;
	overflow:hidden; 
/*	background: none ; */
	z-index:2;
	display:block;	
}

#absolutewrapper .imgboxtext {
	width:430px;
	overflow:visible;
	margin:0px;
	padding:0px;
	background: none ;
    position:absolute;	
	height:2px;
	z-index:2;
}

#absolutewrapper .imgtext {
 position:relative;
 top:-130px; 
 width:400px;
 z-index:10;
 height:140px;
 margin:0px 0 0 12px;
 padding:0px;
 left:0px;
}

#absolutewrapper .imgtext p {margin:0; padding:0;}

#absolutewrapper .leftbox{
	width:216px;
	height:206px;
	margin:0px;
	padding:0;
	display:inline;	
	float:left;
}

#absolutewrapper .rightbox{
	width:216px;
	height:206px; 
	margin:0px;
	padding:0;
	display:inline;
	float:right;
	align:top;
}

#absolutewrapper .box .subtitle { 
   font:12px/15px Arial, Helvetica, sans-serif;
   font-weight:bold;
   color:#39c;
   margin: 5px 0 0;
}   

/*.box .p
{ 
   font:12px/15px Arial, Helvetica, sans-serif;
   color:#6e6e6e;
   width: 230px;
}
*/
#absolutewrapper .box p, #absolutewrapper  .box2 p {
	margin: 0;
	padding: 0;
}

 .box h3,  .box h3 a{
	margin:0;
	padding:0;
	font-size: 12px;
	line-height: 1.1em;
	letter-spacing: .03em;
	color:#88c42b;
	text-decoration:none;
}

#absolutewrapper .box h3.red, #absolutewrapper   .box h3.red a
 { color:#de1913;}

#absolutewrapper .lefttext {
	position:relative; 
	top:-190px; 
	width:190px;
	padding:0 0 0 10px;
	z-index:10;
	float:left; 
	height:206px;
}

#absolutewrapper .righttext {
	position:relative;
	width:190px;
	top:-190px;
	padding:0 0 0 10px;
	float:right;
	z-index:10;
}


#absolutewrapper .ltext {
	width:200px;
	padding:0 0 10px 10px;
	z-index:10;
	float:left; 
}

#absolutewrapper .rtext {
	width:200px;
	padding:0 10px 10px 30px;
	float:left;
	z-index:10;
}

#absolutewrapper .topics, #absolutewrapper  #more-s li li ul.topics{
	margin:0;
	padding:10px 0 10px 0;
	width:448px;
	overflow:hidden;
	list-style:none;
	background:none;
}

#absolutewrapper ul.topics li, #absolutewrapper  #more-s li li ul.topics li{
	float:left;
	width:200px;
	padding: 5px 10px 0 5px;
	background:none;
	margin:0;
	list-style:none;
}

#absolutewrapper ul.topics li.right, #absolutewrapper  #more-s li li ul.topics li.right{
	float:right;
	width:215px;
	padding: 5px 0px 0 0;
	background:none;
	margin:0;
	list-style:none;
}

#absolutewrapper .topics h3{
	color: #87C22B;
	margin:0;
	padding:0;
	font-size: 12px;
	line-height: 1.25em;
}
#absolutewrapper .topics p{
	margin:0;
	padding:0;
	font-size: 12px;
	color: #666;
	line-height: 1.3em;
}

#absolutewrapper ul.bullet{
	background:none;
	width:448px;	
	margin:0px;
	padding:0px 0 10px 0;
	z-index:1000;
}

#absolutewrapper .bullet li {
	margin:10px 0;
	color:#434343;
	background:none;
	font:bold 13px/14px  Arial, Helvetica, sans-serif;
	float:left;
	padding:0px;
	width:auto;
}

#absolutewrapper .bullet li.separator {	
	height:1px;
	width:460px;
	border-bottom:1px solid #ccc;
	background:none;	
	margin:0;
	padding:0;		
}	  

#absolutewrapper .arrow12 { 
	width:211px;
	margin:0;
	padding:4px 0 0;
}
#absolutewrapper .arrow12 a{
	background:url(/fileadmin/templates/smb/inc/images/small-arrow.gif) no-repeat left;
	color:#000;	
	padding:0 0 0 16px;
	font: bold 11px/20px Arial, Helvetica, sans-serif;	
}
#absolutewrapper .arrow12 a:hover{
	text-decoration:underline;
}

#absolutewrapper .field { BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; WIDTH: 220px; COLOR: #666666; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial;font-size:11px;}

#absolutewrapper #frame{width:862px; margin:0 auto 0 auto;  margin-top:23px; text-align:left; border:1px solid #00000;}
#absolutewrapper #board{width:862px; clear:both; /*background:url(/fileadmin/images/bodybg.gif); */}
#absolutewrapper #board-top{position:relative; top:24px; padding:0px; width:862px; margin:0px; background:url(/fileadmin/images/top_curve.gif) no-repeat 0 0; height:4px;}
#absolutewrapper #topboard {position:relative; padding-top:283px; left:0px; width:862px; }

#absolutewrapper #footer{
/*	clear:both; */
	width:862px;
/*	overflow:hidden; */
	font-family: Verdana, sans-serif;
	padding:10px 0 10px 0;
	background: none;
/*	background:url(/fileadmin/images/bg-main.gif); */
	position:relative;
	height:80px;
	color:#636363;
}

#absolutewrapper #footer ul{
	margin:0;
	padding:0;
	float:LEFT;
	font-size: 9px;
}
#absolutewrapper #footer ul li{
	float:left;
	list-style-type:none;
	margin:0 0px 0 0px;
}
#absolutewrapper #footer ul li.first{margin: 0px 0 0 18px;}
#absolutewrapper #footer ul li.last{margin: 0px 0px 0px 0px; }
/*#footer ul li.address{float:right; margin:0 12px 0 0; font-weight:normal;}
#absolutewrapper #footer ul li.address li{display:block; font-weight:normal;}*/
/*#footer ul li.address{float:right; margin: 0px 0px 0px 0px; }*/
/*#footer ul li.address {float:right; margin-right:60px;}*/
/*#footer ul li.address li, #footer ul li.address li a {font:12px Arial, Helvetica, sans-serif;padding:0;}
#absolutewrapper #footer ul li.logo{float:right; padding:0px; margin:-30px 0px 0 10px;}
#absolutewrapper #footer ul li.logo li a img{float:right; padding:0px; margin:0px 0px 0px 0px;}
#absolutewrapper #footer ul li.address{float:left; margin: 0px 0px 0px 10px; padding: 0px; }
*/
 
#absolutewrapper #footer ul li ul li{float:none; font-size:9px;}
#absolutewrapper #footer ul ul{float:left;}
#absolutewrapper #footer a{
	color:#636363;
	background:none;
	text-decoration:none;
	font:9px/11px verdana,sans-serif;
	padding:0px 16px 0px 0px;
}
#absolutewrapper #footer a:hover{text-decoration:underline;}

#absolutewrapper #footer ul li.address li, #footer ul li.address li a {font:12px Arial, Helvetica, sans-serif;padding:0; margin:0;}
#absolutewrapper #footer ul li.address{margin:0 0px 0 0px; padding-left:0px;}
#absolutewrapper #footer ul li.logo {float:right; padding:0px; width:132px; margin:-2px 10px 0 0px;}
#absolutewrapper #footer ul li.logo li{padding:0px; margin:0px;}
#absolutewrapper #footer ul li.address li{margin:0px; padding-left:25px;}

#absolutewrapper #left .leftnavbg {
  width:217px; 
  background:url(/fileadmin/images/bg-right.gif); 
  padding:0px;
  margin:0; 
}

#absolutewrapper #left .contact {list-style-type:none; margin:0px; padding:0px;}
#absolutewrapper #left .contact li {border:none; padding:0; margin:0;}
#absolutewrapper #left .leftnavbg ul {padding:0; margin:0 12px;}
/*sub.css
#absolutewrapper #left .contactonline{ margin:0; height:36px; padding-left:0px; background:url(/fileadmin/images/online_bg.jpg) no-repeat; background-position:left; line-height:36px;}
#absolutewrapper #left .contactemail{ margin:0; height:36px; padding-left:0px; background:url(/fileadmin/images/emailbg.jpg) no-repeat; background-position:left; line-height:36px;}
*/
#absolutewrapper #left .leftnavbg ul li a{color:#000; text-decoration:none; font-size:11px; font-weight:bold; border-bottom:1px solid #f9f9f7; padding:4px 0px 0px 12px; margin:0; background:none;}

/* CSS Document */

#absolutewrapper #outerframe {
	width:449px;
	height:88px;
	padding:0 0 10px 0;
}
#absolutewrapper #outerframe a {background:none;}
#absolutewrapper #column1 {
	width:109px;
	height:68px;
	font:normal 11px Arial, Helvetica, sans-serif;
	/*font-weight:normal;*/
	background: #999 url(/fileadmin/images/share/box01.jpg) no-repeat;
	padding:10px 10px 10px 20px;
	float:left;
}
#absolutewrapper #column2 {
	width:97px;
	height:68px;
	color:#66cc33;
	font:bold 11px Arial, Helvetica, sans-serif;
	/*font-weight:bold;*/
	background:url(/fileadmin/images/share/segmentor_individuals.jpg) no-repeat;
	padding:10px 0 10px 5px;
	float:left;
}
#absolutewrapper #column2 a {color:#66cc33;}
#absolutewrapper #column3 {
	width:91px;
	height:78px;
	color:#009900;
	font:bold 11px Arial, Helvetica, sans-serif;
	/*font-weight:bold;*/
	background:url(/fileadmin/images/share/segmentor_smallbusiness.jpg) no-repeat;
	padding:10px 5px 0 5px;
	float:left;
}
#absolutewrapper #column3 a {color:#009900;}
#absolutewrapper #column4 {
	width:101px;
	height:88px;
	color:#3399cc;
	font:bold 11px Arial, Helvetica, sans-serif;
	/*font-weight:bold;*/
	background:url(/fileadmin/images/share/segmentor_corporates.jpg) no-repeat;
	padding:10px 0 0 5px;
	float:left;
}
#absolutewrapper #column4 a {color:#3399cc;}

#absolutewrapper #col1 {
	width:210px;
	height:51px;
	font:normal 11px Arial, Helvetica, sans-serif;
	/*font-weight:normal;*/
	background-image:url(inc/images/cta_seg.jpg);
	background-repeat:no-repeat;
	background-color:#999999;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:10px;
	float:left;
}
#absolutewrapper #col2 {
	width:87px;
	height:46px;
	font-family:Arial, Helvetica, sans-serif;
	color:#4f5044;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	background-image:url(/fileadmin/images/box1.jpg);
	background-repeat:no-repeat;
	padding:15px 5px 10px 10px;
	float:left;
}
#absolutewrapper #col3 {
	width:87px;
	height:46px;
	font-family:Arial, Helvetica, sans-serif;
	color:#4f5044;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	background-image:url(/fileadmin/images/box2.jpg);
	background-repeat:no-repeat;
	padding:15px 10px 10px 10px;
	float:left;
}

#absolutewrapper .elemtitle{color:#5c5c4e; font:11px/15px Arial, Helvetica, sans-serif;; font-weight:bold;}
#absolutewrapper .regtext {color:#5c5c4e;  font:11px/15px Arial, Helvetica, sans-serif;; }
#absolutewrapper .smalltext {color:#5c5c4e;  font:11px/13px Arial, Helvetica, sans-serif;; }
#absolutewrapper .tabbertab{ background:url(../images/tapbg.jpg) repeat-x; }
#absolutewrapper .tabberlive .tabbertabhide { display:none;}
#absolutewrapper .tabber {  }
#absolutewrapper .tabberlive { margin-top:1em; }

#absolutewrapper ul.tabbernav
{
 margin:0;
 padding:0px;
 padding: 3px 0;
 font: bold 12px Verdana, sans-serif; 
  border-bottom: 1px solid #778;
}

#absolutewrapper ul.tabbernav li
{
 list-style: none;
 padding:0px;
 margin: 0px;
display: inline;
background:url(../images/tab_deactive.jpg) no-repeat;
}

#absolutewrapper ul.tabbernav li a
{
 padding: 4px 0.5em;
 margin: 0px;
 border-bottom: none;
 text-decoration: none;
}

#absolutewrapper #li1 a {padding-left:26px; padding-right:27px;}
#absolutewrapper #li2 a{padding-left:25px; padding-right:24px;}
#absolutewrapper #li3 a{padding-left:25px; padding-right:25px;}
#absolutewrapper #li4 a{padding-left:25px; padding-right:25px;}


#absolutewrapper ul.tabbernav li a:link { color: #0066CC; }
#absolutewrapper ul.tabbernav li a:visited { color: #0066CC; }
#absolutewrapper ul.tabbernav li a
{
 color: #0066CC;
 border-color: #227;
background:url(../images/tab_deactive.jpg) no-repeat;}
#absolutewrapper ul.tabbernav li a:hover
{
 color: #0066CC;
 border-color: #227;
background:url(../images/tab_deactive.jpg) no-repeat;
border-bottom:none;

}
#absolutewrapper ul.tabbernav li.tabberactive a
{
background:url(../images/tab_active.jpg) no-repeat;



}
#absolutewrapper *html ul.tabbernav li.tabberactive a
{
background:url(../images/tab_active.jpg) no-repeat;


}
#absolutewrapper ul.tabbernav li.tabberactive a:hover
{
background:url(../images/tab_active.jpg) no-repeat;
 color: #0066CC;


}
#absolutewrapper .tabberlive .tabbertab {
 padding:5px;
 border:1px solid #8b8e79;
 border-top:0;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#646464;}
 
#absolutewrapper .tabberlive .tabbertab h2 {
 display:none;
}
#absolutewrapper .tabberlive .tabbertab h3 {
 display:none;
}
#absolutewrapper .tabberlive#tab1 {
}
#absolutewrapper .tabberlive#tab2 {
}
#absolutewrapper .tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

#absolutewrapper .widthbig{width:384px;}
#absolutewrapper #frame{width:863px; margin:0 auto 0 auto;  margin-top:23px; text-align:left; border:1px solid #00000;}


#absolutewrapper a.pdf {padding-right:25px; background:url(/fileadmin/images/icons/icon_pdf.gif) no-repeat right;}
#absolutewrapper a.zip {padding-right:25px; background:url(/fileadmin/images/icons/icon_zip.gif) no-repeat right;}
#absolutewrapper a.ppt {padding-right:25px; background:url(/fileadmin/images/icons/icon_ppt.gif) no-repeat right;}

/* 7 Reasons classes */
#absolutewrapper div.success-reason{
	display: block;
	width: 573px;
	position:relative;
}
#absolutewrapper .success-reason .sz14{
	margin: 0px 0px 0px 0px;
}
#absolutewrapper .success-reason p{
	padding: 3px 0px 3px 190px;
	text-align: left;
	color: #515142;
	text-decoration: none;
	font-style:normal;
	font: 12px/16px Arial, Helvetica, sans-serif;	
}
#absolutewrapper .success-reason p.reason1 {
	background: url(/fileadmin/templates/inc/images/extendreach.gif) no-repeat left;}
#absolutewrapper .success-reason p.reason2{
	background: url(/fileadmin/templates/inc/images/reducecosts.gif) no-repeat left; height:auto;
}
#absolutewrapper .success-reason p.reason3{
	background: url(/fileadmin/templates/inc/images/accomplishmore.gif) no-repeat left; height:120px;
}
#absolutewrapper .success-reason p.reason4{
	background: url(/fileadmin/templates/inc/images/getroi.gif) no-repeat left;
}
#absolutewrapper .success-reason p.reason5{
	background: url(/fileadmin/templates/inc/images/noit.gif) no-repeat left;
}
#absolutewrapper .success-reason p.reason6{
	background: url(/fileadmin/templates/inc/images/createpresence.gif) no-repeat left; height:150px;
}
#absolutewrapper .success-reason p.reason7{
	background: url(/fileadmin/templates/inc/images/accelerategrowth.gif) no-repeat left;
}
#absolutewrapper .success-reason p.reason-noimage{
	background: none;
}
#absolutewrapper .csc-linkToTop {margin-top:-10px; padding:0; text-transform:uppercase; text-align:right; padding-right:18px;}
