#absolutewrapper body{
	margin:0;
	padding:0;
	text-align:center;
	font: 11px Arial, Helvetica, Geneva, Verdana, sans-serif;
	color:#808080;
	background: #D0D1C7 url(../images/bg-body.gif) repeat-x 0 0;
}

#absolutewrapper h2,#absolutewrapper .text-flash1 h1,#absolutewrapper .sz14,#absolutewrapper p.sz14,#absolutewrapper .sz12,#absolutewrapper #more-s h2.sub,#absolutewrapper #col3 a,#absolutewrapper #col2 a 
{ color:#0066CC; }



#absolutewrapper .add{
	margin:0;
	padding:11px 7px 0 0;
	list-style:none;
	float:right;
	font: 9px Verdana, sans-serif;
}

#absolutewrapper .add li{
	float:left;
	padding:0 8px 0 8px;
	background:url(../images/bullet-blue.gif) no-repeat left;
}
#absolutewrapper .add a{
	text-decoration:none;
	color:#000;
	background:none;
}

#absolutewrapper .add a em{
	font-style:normal;
	color:#09F;
}


/* footer */
/*
#absolutewrapper #footer{
	clear:both;
	width:863px;
	overflow:hidden;
	padding:30px 0 15px 0;
	background:url(../images/bg-main.gif);
	font-family: Verdana, sans-serif;
	letter-spacing: 0.08em;
}
#absolutewrapper #footer ul{
	margin:0;
	padding:0;
	float:right;
	list-style:none;
	font-size: 9px;
}
#absolutewrapper #footer ul li{
	float:left;
	margin:0 16px 0 0;
}
#absolutewrapper #footer ul li.last{
	margin: 0 61px 0 0;
}
#absolutewrapper * html #footer ul li.last{
	margin: 0 16px 0 0;
}
#absolutewrapper #footer ul li ul li, #absolutewrapper #footer ul li ul{float:none;}
#absolutewrapper #footer a{
	color:#999;
	background:none;
	text-decoration:none;
}
#absolutewrapper #footer a:hover{text-decoration:underline;}

*/
/* main */
/*
#absolutewrapper #main{
	background:url(../images/bg-main.gif);
	overflow:hidden;
	width:862px;
	padding:260px 0 0 0;
}
*/
/* left column */
/*
#absolutewrapper #left{
	width:217px;
	float:left;
	margin:0 0 0 20px;
	display:inline;
	background:url(../images/bg-right.gif);
}
*/
#absolutewrapper #left h4{
	margin:0;
	width:217px;
	height:20px;
	color:#fff;
	padding:0 0 0 7px;
	font: bold 11px/20px Helvetica, Arial, Geneva, Verdana, sans-serif;
	background:url(../images/bg-h3.gif);
	letter-spacing: .05em;
	overflow:hidden;
}
/*
#absolutewrapper #left div{
	background:url(../images/bg-right-b.gif) no-repeat 0 100%;
	width:217px;
	padding:0 0 25px 0;
	overflow:hidden;
}
#absolutewrapper #left ul{
	width:215px;
	margin:0 1px;
	padding:0;
	list-style:none;
	overflow:hidden;
}

#absolutewrapper #left ul li{
	width:215px;
	float:left;
	padding:0 0 1px 0;
	background:#F8F8F6 url(../images/bg-left.gif) no-repeat 0 100%;
}
#absolutewrapper #left ul li a{
	color:#000;
	text-decoration:none;
	display:block;
	height:24px;
	line-height: 24px;
	padding:0 0 0 17px;
	margin:0 0 0 5px;
	width:189px;
	background:url(../images/bg-close.gif) no-repeat left;
	letter-spacing: .08em;
}
#absolutewrapper #left ul li.active a{
	background:url(../images/bg-open.gif) no-repeat left;
}
#absolutewrapper #left ul li ul{
	display:none;
}
#absolutewrapper #left ul li.active ul{
	display:block;
}
#absolutewrapper #left ul li.active ul{
	width:215px;
	overflow:hidden;
	background:#fff;
	padding:5px 0;
}
#absolutewrapper #left ul li.active ul li{
	background:none;
	padding:0;
	width:209px;
}
#absolutewrapper #left ul li.active ul li a{
	width:205px;
	background:none;
	height:auto;
	padding:0 0 0 20px;
	line-height:17px;
	color:#666;
	letter-spacing: .06em;
}
*/
#absolutewrapper #left ul li.active ul li a:hover,#absolutewrapper #left ul li.active ul li.active ul li.active a,
#absolutewrapper #left ul li.active ul li.active ul li.active a:hover,
{
	color: #0066CC;
}

#absolutewrapper #left ul li.active ul li.active a{	
	color: #0066CC;
	padding:0 0 0 28px;
	font-weight:bold;
/*	background:url(../images/bullet-left.gif) no-repeat 14px 6px; */
}

#absolutewrapper #left ul li.active ul li.active1 a{	
	color: #0066CC;
	padding:0 0 0 28px;
	font-weight:bold;
	background:url(../images/bullet-left.gif) no-repeat 14px 6px;
}
/*
#absolutewrapper #left ul li.active ul li.active ul li a,
#absolutewrapper #left ul li.active ul li.active ul li a:hover{
	font-weight:normal;
	width:177px;
	color:#000;
	line-height:16px;
	padding:0 0 0 25px;
}
*/
#absolutewrapper #left ul li.active ul li.active ul li.active {
	font-weight:normal;
	color: #0066CC;
	background:url(../images/bullet-left.gif) no-repeat 17px 5px; 
}

#absolutewrapper #left ul li.active ul li a:hover,#absolutewrapper #left ul li.active ul li.active ul li.active a,
#absolutewrapper #left ul li.active ul li.active ul li.active a:hover{
	color: #0066CC;
}

/*
#absolutewrapper #left ul li.active ul li ul{
	display:none;
}
#absolutewrapper #left ul li.active ul li.active ul{
	display:block;
	width:190px;
	padding:0 0 3px 0;
	margin:0 0 0 19px;
	overflow:hidden;
}
#absolutewrapper #left ul li.active ul li.active ul li{
	width:190px;
}
#absolutewrapper #left ul li.active ul li.active ul li a,
#absolutewrapper #left ul li.active ul li.active ul li a:hover{
	font-weight:normal;
	width:177px;
	color:#000;
	line-height:16px;
	padding:0 0 0 13px;
	background:url(../images/bullet-left.gif) no-repeat left;
}
#absolutewrapper #left ul li.active ul li.active ul li a:hover{
	text-decoration:underline;
}
#absolutewrapper #left strong{
	font-size: 11px;
	display:block;
	width:189px;
	margin:-1px 0 0 0;
	position:relative;
	padding:8px 0 0 22px;
	background:url(../images/bg-left-strong.gif) no-repeat 0 0;
	color:#000;
	font-weight: normal;
	font-style: normal;
	letter-spacing: .05em;
}
#absolutewrapper #left ul.contact{
	margin:0 0 0 19px;
	padding:0;
	width:192px;
	overflow:hidden;
	list-style:none;
}
#absolutewrapper #left ul.contact li{
	width:192px;
	padding:0;
	float:left;
}
#absolutewrapper #left ul.contact li a{
	background:none;
	color:#444;
	font-weight:normal;
	text-decoration:none;
	display:block;
	height:28px;
	line-height:26px;
	padding:0 0 0 26px;
	margin:0;
	width:166px;
}
#absolutewrapper #left ul.contact li.toll-free{background:url(../images/img-phone.gif) no-repeat 4px 5px}
#absolutewrapper #left ul.contact li.contact{background:url(../images/img-mail.gif) no-repeat 4px 8px}
#absolutewrapper #left ul.contact li.l-demo{background:url(../images/img-pp.gif) no-repeat left}
#absolutewrapper #left ul.contact li.l-chat{background:url(../images/img-chat.gif) no-repeat left}

*/
/* content column */
/*
#absolutewrapper #content{
	width:591px;
	float:right;
	margin:0 21px 0 0;
	display:inline;
}

#absolutewrapper .breadcrumb{
	margin:0;
	padding:0;
	overflow:hidden;
	width:590px;
	list-style:none;
	font: 9px Verdana;
}
#absolutewrapper .breadcrumb li a{
	text-decoration:none;
	color:#444;
	background:none;
}
*/
#absolutewrapper .breadcrumb li{
	color:#0066CC;
	float:left;
	margin:0 9px 0 0;
}

#absolutewrapper .breadcrumb li a:hover{
	color:#0066CC;
}

#absolutewrapper #content .text{
	width:591px;
	overflow:hidden;
	margin:3px 0 0 0;
	padding:20px 0 0 0;
	background:url(../images/bg-text.jpg) no-repeat 0 0;
}
#absolutewrapper #content .text h3{
	color:#4F4F4F;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0 0 .1em;
}
#absolutewrapper #content .text p{
	margin: 2px 5px 0 0;
	font-size: 12px;
	line-height: 1.4em;
	letter-spacing: .03em;
}
/*
#absolutewrapper .topics{
	margin:0;
	padding:15px 0 10px 0;
	width:524px;
	overflow:hidden;
	list-style:none;
}
#absolutewrapper .topics li{
	float:left;
	width:230px;
	padding: 0 30px 0 0;
}
#absolutewrapper .topics li.separate{
	padding:0;
	float:left;
	width:100%;
	clear:both;
	height:12px;
	overflow:hidden;
}
*/

#absolutewrapper .topics h3{
	color: #0066CC;
	margin: 0 0 3px;
	font-size: 12px;
	line-height: 1.25em;
}
/*
#absolutewrapper .topics p{
	margin:0;
	font-size: 12px;
	color: #666;
	line-height: 1.3em;
}
*/
#absolutewrapper .text-content .options{
	margin:0 0 0 342px;
}
#absolutewrapper .text-content .options a{
	font: bold 10px Arial, Helvetica, Verdana, Geneva, sans-serif;
}

#absolutewrapper .topics a{
	color:#336699;
	background:url(../images/bg-a.gif) repeat-x 0 100%;
	}


#absolutewrapper #content .text .left .options{margin:13px 0 0 1px;}
#absolutewrapper #content .text .right .options{margin:13px 0 0 62px;}
#absolutewrapper #content .top .options{
	margin:35px 0 0 154px;
}
#absolutewrapper .options{
	margin:0;
	padding:0;
	list-style:none;
}
#absolutewrapper .options a{
	background:url(../images/small-arrow.gif) no-repeat left;
	color:#000;	
	padding:0 0 0 15px;
	font-weight:bold;
}

#absolutewrapper .options li{
	float:left;
}
#absolutewrapper .options li.first{
	margin:0 20px 0 0;
}
#absolutewrapper #content .text .left{
	width:234px;
	display:inline;
	float:left;
	padding:0 28px 0 0;
	margin:0 0 0 20px;
}

#absolutewrapper #content .text .right{
	width:309px;
	float:left;
}
#absolutewrapper #content .text .right em{
	display:block;
	font-style:normal;
	font-weight:bold;
	color:#808080;
	margin:13px 0 0 0;
}
//* moved to the all.css
#absolutewrapper #content .top{
	width:571px;
	height:155px;
	margin:3px 0 0 0;
	overflow:hidden;
	padding:17px 0 0 20px;
	background:url(../images/bg-top.jpg);
}
#absolutewrapper #content .top img{
	float:left;
}
#absolutewrapper #content .top div{
	width:345px;
	float:left;
	margin:0 0 0 21px;
	display:inline;
}
*/
#absolutewrapper #content .top h2{
	color:#0066CC;
	font: 16px Arial, Helvetica, Geneva, sans-serif;
	margin:0;
}
#absolutewrapper #content .top p{
	font: 14px/1.3em Arial, Helvetica, Geneva, sans-serif;
	margin:0;
	color:#000;
	padding-right: 20px;
	letter-spacing: -.03em;
	padding-top: 0;
}
#absolutewrapper #visual{
	width:862px;
	height:214px;
	position:absolute;
	top:103px;
	left:0;
	padding:1px 0 0 0;
	background:url(../images/bg-visual.gif) no-repeat 0 0;
}
/* main navigation */
#absolutewrapper #main-nav{
	width:862px;
	height:24px;
	background:url(../images/bg-main-nav.gif);
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	left:0;
	top:80px;
}
#absolutewrapper #main-nav li{
	float:left;
	line-height:24px;
	background:url(../images/divider-top.gif) no-repeat right;
	padding:0 16px 0 16px;
	position:relative;
}
#absolutewrapper #main-nav li.last{
	background:none;
}
#absolutewrapper #main-nav li a{
	background:none;
	color:#fff;
	letter-spacing: .08em;
}
#absolutewrapper #main-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	width:192px;
	background:url(../images/bg-li-dd-c.gif) repeat-y 100% 0;
}
#absolutewrapper #main-nav div.dd{
	position:absolute;
	top:24px;
	left:0;
	display:none;
	width:192px;
}
#absolutewrapper #main-nav div.end{
	position:absolute;
	top:24px;
	left:-37px;
	display:none;
	width:192px;
}
#absolutewrapper #main-nav li.hover div.dd,#absolutewrapper #main-nav li:hover div.dd,#absolutewrapper #main-nav li.hover div.end,#absolutewrapper #main-nav li:hover div.end{
	display:block;
}
/*
#absolutewrapper #main-nav div.dd .bottom{
	height:4px;
	overflow:hidden;
	width:192px;
	background:url(../images/bg-nav-b.gif);
}
*/
/*
#absolutewrapper #main-nav ul li{
	background:none;
	line-height:26px;
	padding:0;
	width:191px;
}
#absolutewrapper #main-nav ul li a{
	color:#444;
	background:#F4F4F0 url(../images/bg-top-nav-li.gif) no-repeat 0 100%;
	padding:0 0 1px 10px;
	display:block;
	width:191px;
	letter-spacing: .08em;
}
#absolutewrapper #main-nav ul li a:hover{
	background:#fff url(../images/bg-top-nav-li.gif) no-repeat 0 100%;
}
#absolutewrapper #main-nav ul li.last a, #absolutewrapper #main-nav ul li.last a:hover{
	background-image:none;
}
*/
#absolutewrapper .text-flash{
	width:402px;
	height:177px;
	position:absolute;
	top:123px;
	right:20px;
	background:url(../images/bg-text-flash.png);
	opacity: 0.93;
}
#absolutewrapper .opt-buy, #absolutewrapper .opt-buy2{
	margin:0;
	padding:0;
	width:253px;
	height:21px;
	z-index:100;
	top:132px;
	left:75px;
	position:absolute;
	background:url(../images/drkblu-bg-opt-buy.gif);
	list-style:none;
}
#absolutewrapper .opt-buy2{
	background:url(../images/bg-opt-buy2.gif);
}
#absolutewrapper .opt-buy li, #absolutewrapper .opt-buy2 li{
	float:left;
	text-align:center;
}
#absolutewrapper .opt-buy li a, #absolutewrapper .opt-buy2 li a{
	background:none;
	display:block;
	color:#000;
	font-weight:bold;
	font-size:10px;
	line-height:20px;
}
#absolutewrapper .opt-buy li a:hover, #absolutewrapper .opt-buy2 li a:hover{text-decoration:underline;}
#absolutewrapper .opt-buy li.buy-it-now a{color:#fff;}
#absolutewrapper .free-trial{
	margin:0 2px 0 0;
	width:84px;
}
#absolutewrapper .buy-it-now{width:83px;}
#absolutewrapper .live-demo{width:82px;}
#absolutewrapper .text-flash strong{
	color:#0066CC;
	display:block;
	margin:22px 0 0 26px;
	font: 22px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -.03em;
}
#absolutewrapper .text-flash p{
	font: 20px/1.1em Helvetica, Geneva, Arial, sans-serif;
	margin: 0 24px 0 26px;
	color:#000;
	opacity: 1;
}
/* inner2 page */
#absolutewrapper #content .text-content{
	width:550px;
	overflow:hidden;
	font:14px Arial, Helvetica, sans-serif;
	color:#000;
	margin:3px 0 0 0;
	padding:20px 22px 0 19px;
	background:url(../images/bg-text.jpg) no-repeat 0 0;
}
#absolutewrapper .text-content h2{
	margin: 0 0 6px;
	font-size: 16px;
	color: #0066CC;
	padding-right: 100px;
}
#absolutewrapper .text-content h2 strong{
	color:#000;
}
#absolutewrapper .text-content p{
	margin: 4px 20px 0 0;
	padding-right: 10px;
	line-height: 1.25em;
}

/*
#absolutewrapper #more-s{
	margin:4px 0 0 0;
	padding:1px 0 0 0;
	width:549px;
	overflow:hidden;
	float:left;
	list-style:none;
	background:url(../images/separator.gif) repeat-x 0 0;
}
#absolutewrapper #more-s li{
	width:549px;
	float:left;
	padding:0 0 4px 0;
	background:url(../images/separator.gif) repeat-x 0 100%;
}
*/
#absolutewrapper #more-s li a{
	color:#000;
	background:url(../images/bullet-plus.gif) no-repeat left top;
	padding:0 0 0 18px;
	font: bold 11px/17px Arial, Helvetica, Geneva, Verdana, sans-serif; 
}
#absolutewrapper #more-s li a:hover{
	text-decoration:underline;
}

/*added */
#absolutewrapper #more-s li.active a {
	background:url(../images/bullet-minus.gif) no-repeat left;
}

/*
#absolutewrapper #more-s ul li ul, #absolutewrapper  #more-s li ul{
	display:none;
}
#absolutewrapper #more-s ul li.active ul, #absolutewrapper  #more-s li.active ul{
	display:block;
}
#absolutewrapper #more-s ul li.active ul{
	width:209px;
	overflow:hidden;
	background:#fff;
	padding:5px 0;
	background:none;
}
#absolutewrapper #more-s ul li.active ul li{
	background:none;
	padding:0;
	width:209px;
	background:none;
}
#absolutewrapper #more-s ul li.active ul li a{
	width:189px;
	background:none;
	height:auto;
	padding:0 0 0 20px;
	line-height:17px;
	color:#666;
	letter-spacing: .06em;
	background:none;
}

*/
#absolutewrapper .text-flash h2{
	font: 25px Arial, Helvetica, sans-serif;
	color:#000;
	margin:10px 0 0 74px;
}
#absolutewrapper .text-flash span{
	font: 25px Arial, Helvetica, sans-serif;
	margin:0 0 0 74px;
	color: #0066CC;
}
#absolutewrapper .text-flash.w-bg{background:none;}

/* mini navigation */


/*#mini-nav{
	width:320px;
	height:20px;
	margin:0;
	padding:0 0 0 4px;
	list-style:none;
	position:absolute;
	left:450px;
	top:0px;
	font-size: 9px;
	text-align: left;
	background-color: #FFFFFF;
	z-index:2001;
}*/

#absolutewrapper #mini-nav{	
	height:20px;
	margin:0;
	padding:0 0 0 4px;
	list-style:none;
	position:absolute; 
/*    left:350px; 
    width:505px;	*/
	left:455px; 
	width:400px; 
	top:0px;
	font-size: 9px;
	text-align: left; 
	background-color: #FFFFFF;
	z-index:2001;
/*	float:right;
	margin-right:4px;
	padding-right:18px;	*/
}

#absolutewrapper #mini-nav li{
	float:left;
	line-height:22px;
	padding:0 12px 0 6px;
	position:relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333;
	width:auto;
}

#absolutewrapper #mini-nav li a{
	background:none;
	color:#333;
	text-decoration: none;
}

#absolutewrapper #mini-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	width:180px;
	background-repeat: repeat-y;
	background-position: 100%;
}

#absolutewrapper #mini-nav li div.dd{
	position:absolute;
	top:20px;
	left:0;
	display:none;
	width:180px;
	z-index:2000;
}

#absolutewrapper #mini-nav li.hover div.dd, #absolutewrapper  #mini-nav li:hover div.dd{
	display:block;
}

#absolutewrapper #mini-nav div.dd .bottom{
	height:4px;
	overflow:hidden;
	width:129px;
	background:url(/fileadmin/images/bg-li-mini-dd.gif);
}

#absolutewrapper #mini-nav ul li{
	background:none;
	line-height:16px;
	padding:0;
	width:129px;
}

#absolutewrapper #mini-nav ul li a{
	color:#333;
	background:#F4F4F0;
	padding:0 0 1px 4px;
	display:block;
	width:125px;
	border-right-color: 333333;
	background-image: url(/fileadmin/images/bg-li-mini-dd-c.gif);
}

#absolutewrapper #mini-nav ul li a:hover{
	color: #000000;
	text-decoration: underline;
}

#absolutewrapper .text-content h2.sub{
	margin: 0 0 6px;
	font-size: 14px;
	color: #0066CC;
	line-height: 1.25em;
	padding-right: 100px;
}

#absolutewrapper .text-content h2.sub strong{
	color:#000;
}

#absolutewrapper .text-content p.sub,#absolutewrapper .text-content li.arrow,#absolutewrapper .text-content li{
	margin: 4px 20px 0 0;
	padding-right: 10px;
	font-size: 12px;
	color: #666;
	line-height: 1.3em;
}

#absolutewrapper #more-s h2.sub{
	color: #0066CC;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 1.0em;		
}

/*
#absolutewrapper #more-s li.active p.sub a
{ background:none;}

#absolutewrapper #more-s p.sub,#absolutewrapper #more-s p.sub li.arrow,#absolutewrapper #more-s p.sub li {
	margin: 4px 20px 0 0;
	padding-right: 10px;
	font-size: 12px;
	color: #666;
	line-height: 1.3em;
	width:500px;
	background:none;
}

#absolutewrapper #more-s li p.sub a,#absolutewrapper #more-s li h2.sub a ,#absolutewrapper  #more-s li p.sub li a,#absolutewrapper #more-s li.active li li a
{
	padding:0;
	font: 12px/19px Arial, Helvetica, Geneva, Verdana, sans-serif;
	color:#336699;
	text-decoration:none;
	background:url(../images/bg-a.gif) repeat-x 0 100%;
}
*/
/* added 02/02 */

/*
#absolutewrapper #content-right li  a {
    background:url(../images/small-arrow.gif) no-repeat left;
	padding:0px 0px 0px 18px;
	width:112px;
	display:block;
}
*/
#absolutewrapper #content-top li a {
    background:url(../images/big-arrow.gif) no-repeat left;	
	padding: 0 0 0 20px;
	width: 192px;
	font-weight:bold;
	display:block;	
}

#absolutewrapper .bullet li a
{
	margin:0;
	padding:0 20px 0 22px;
	color:#434343;
	background:url(../images/small-arrow.gif) no-repeat left;	
	text-decoration:none;
}
/*
#absolutewrapper .bullet li a, #absolutewrapper  .bullet li a:hover
{
	padding:0 20px 0 18px;
	width:auto;
	display:block;
	letter-spacing: -.06em; 
	background:url(../images/small-arrow.gif) no-repeat left center;	
	color:#434343;
}*/
#absolutewrapper .freetral_link ul li a{ z-index:60; /*display:inline; */background:url(../images/small-arrow.gif) no-repeat left; padding:0px 7px 0px 18px; line-height:25px; font-weight:bold;}
#absolutewrapper #left .contactonline{ margin:0; height:36px; padding-left:0px; background:url(../images/online_bg.jpg) no-repeat; background-position:left; line-height:36px;}
#absolutewrapper #left .contactemail{ margin:0; height:36px; padding-left:0px; background:url(../images/emailbg.jpg) no-repeat; background-position:left; line-height:36px;}
#absolutewrapper #left .contactitem{margin:0; height:26px; padding:0 0 0 14px; background:url(../images/img-phone.gif) no-repeat; background-position:158px 5px;}

#absolutewrapper .freetrial{position:relative; z-index:50; margin:20px 0 0 0;width:158px; float:right; background:url(../images/freetrial.jpg) no-repeat; height:77px;}

#absolutewrapper .freetrial_1{z-index:50; width:158px; margin:10px 0 0 0; float:right; background:url(../images/freetrial.jpg) no-repeat; height:77px;}
#absolutewrapper .freetrial_over1{z-index:50; position:relative;margin:10px 0 0 0; width:158px; float:right; background:url(../images/freetrial_over.jpg) no-repeat; height:77px;}

#absolutewrapper .freetrial_over{z-index:50; position:relative;margin:20px 0 0 0; width:158px; float:right;background:url(../images/freetrial_over.jpg) no-repeat; height:77px;}
#absolutewrapper #keybutton a .button {
	font: 18px/1.1em Helvetica, Geneva, Arial, sans-serif;
	width: 176px;
	height: 93px;
	margin: 0px 0px 0px 7px;	
	padding:0px;
	background:url(../images/freetrial.jpg) no-repeat;
	opacity: 1;
	float:right;
	text-decoration:none;
	cursor:pointer;
}

#absolutewrapper #keybutton a:hover .button
{
	width: 176px;
	height: 93px;
	background:url(../images/freetrial_over.jpg) no-repeat;
}

#absolutewrapper #bottom-menu ul li.active ul li a
{
	padding:0 20px 0 15px;
	color:#000;
	background:url(../images/small-arrow.gif) no-repeat left;		
	font-size:12px;
	font-weight:bold;
	line-height:16px; 
}
#absolutewrapper #bottom-menu ul li.active a, #absolutewrapper  #text-top h1
{color:#0066CC;}

#absolutewrapper .bullet1 li a
{
	margin:0;
	padding:0 15px 0 15px;
	color:#434343;
	background:url(../images/small-arrow.gif) no-repeat left;	
	text-decoration:none;
}
/*.bullet1 li.button a div 
{
	width:145px;
	height:77px;
	margin:0;
	padding:0;
	background:url(../images/freetrial_small.jpg) no-repeat;	
}

#absolutewrapper .bullet1 li.button a
{
	margin:0;
	padding:0;
	color:#fff;
	background:none;	
	text-decoration:none;
	
}
#absolutewrapper .bullet1 li.button  a:hover {
	background:url(../images/freetrial_small_over.jpg) no-repeat;	
	text-decoration:none;
}*/

#absolutewrapper .bullet1 li.button #btnsml{width:115px; padding:0; margin:0; float:right;}
#absolutewrapper .bullet1 li.button .btnsml {width:115px; margin:0px; padding:0; background:url(../images/freetrial_small.jpg) no-repeat; height:61px;}
#absolutewrapper .bullet1 li.button .btnsml_over{width:115px; background:url(../images/freetrial_small_over.jpg) no-repeat; height:61px;}

#absolutewrapper .bullet1 li.button .btnsml_txt{z-index:50; width:115px; padding:8px 0 0 0; margin:0; text-align:center;}
#absolutewrapper .bullet1 li.button .btnsml_txt a{color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:16px; background:none; text-decoration:none;}

#absolutewrapper .bullet1 li.button .btnsml_txt a:hover{ text-decoration:none !important;  color:#fff;}


#absolutewrapper .bullet12 li a
{
	margin:0;
	padding:0 20px 0 15px;
	color:#000;
	background:url(../images/small-arrow.gif) no-repeat left;	
	text-decoration:none;
}

#absolutewrapper #col1 {
	width:210px;
	height:51px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	background-image:url(../images/cta_seg.jpg);
	background-repeat:no-repeat;
	background-color:#999999;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:10px;
	float:left;
}

#absolutewrapper .semi_title{padding:10px 0;font:11px Arial; font-weight:bold;color:#0066CC;}
#absolutewrapper .semi_title a {background:none; color:#0066CC; text-decoration:none;}