@import "../reset.css";
@import "../fonts.css";

body 
{
	background-color:#333;
	background-image:url(fondo_default.jpg);
	background-repeat:repeat;
	text-align:center;
	font-family: Tahoma, Lucida, Helvetica, Georgia;
	font-size: 12px;
	padding-bottom: 5px;
	color: #ffffff;
}

/* INICIA - los siguientes son TAGS standar de HTML */
h1, h2, h3, h4, h5 
{
	font-family: Tahoma, Lucida, Helvetica, Georgia;
}

h1 {
	font-size:150%;
	line-height:1.1em;
	color:#990000;
	margin:0 0 .3em 0; }

h2 {

	font-size:110%; /*FUENTE ENCABEZADO NOTAS DESTACADAS */
	margin-bottom:5px;
	margin-top:0.5em; 
	line-height:1.1em; }

p, li {
	font-family: Tahoma, Lucida, Helvetica, Georgia;
	font-size:100%;
	margin:0 0 0 0;
	line-height:1.3em; }

th, td {
	font-size:100%; }

blockquote {
	font-family: Tahoma, Lucida, Helvetica, Georgia;
	margin: 0 .5em 1em;
	padding-left:.5em;
	line-height:1.5em;
	border-left:4px solid #DDD; }

ul, ol {
	margin-left:1em;
	padding-left:1em; }

ul {
	list-style-type:square; }
	
ol { 
	list-style-type:decimal; }

li { 	
	margin-bottom:.25em; }
	
li h2 { font-size:120%; }
li h3 { font-size: 111%; }
li p { font-size: 100%; }
legend { font:bold 120% verdana,sans-serif; }

a {
	font-size:inherit; }

/* COLOR DE LIGAS RAPIDAS*/
a:link {
	color:#000099;
}
a:hover {
	text-decoration:none;
}
a:visited {
	color:#444466;
}

a img { 
	border:0px;
}

strong {
	font-weight:bold; }
	
em {

	font-style:italic; }

/* TERMINO - los siguientes son TAGS standar de HTML */

/* CLASES ESPECIALES DE LA APLICACION */
.subtitle {
	text-transform: capitalize;
	color:#666633;
	font-weight:bold;
	font-size: 130%;
}

#contenedor {
	border:1px solid #333;
	background-color:#FFFFFF;
	width:960px;
	margin:0 auto;
	position:relative;
	text-align: left;
	color: #000;
}

#bloque_principal {
    clear:both;
	margin:0;
	border: 0px dotted blue;
	padding:5px;
	width:auto;
	overflow: auto;
}

/************
	BANNER  
************/

#banner h1 {
		
	margin:0;
	width:960px;
	height:100px;
	background-image: url(../images/banner_rapido.jpg);
	background-repeat:no-repeat; 
}
			
#banner h1 a {
	display:block;
	width:100%;
	height:100px; }

#banner h1 span {			
			display:none; }

#global-search {
			font-family:Verdana, Arial, sans-serif; }

/*************
	NAV  
*************/

#global-nav {
			text-align:right;
			width:960px;
			margin:0 auto;
			padding:8px 0 4px;
			color:#CCCCCC;
			font-family:Verdana, Arial, sans-serif; 
			font-size: 11px;
			}

#global-nav a {
			color:#CCCCCC; }

	  
/****************
	COPYRIGHT
****************/

.block_copyright 
{
	clear:both;
	padding:20px; 
}
			
	
.block_copyright p 
{
	font-size:76%;
	font-family:Verdana, Arial, sans-serif; 
}
	
/****************
	DOWNLOADS
****************/

/*******************
	HOME
*******************/

.info {
	font-size:110%;
	color:#333;
}

/* MENSAJES DE ERROR */
div.caja_errores
{
	background-color: #F8FBA8;
	color: #8A2D26;
	border: 1px solid gray;
	padding:2px; 
	clear:both;
	font-size: 90%;
	position: relative;
}

/* MENSAJES INFORMATIVOS */
.caja_info
{
	background-color: #A4BCEC;
	color: #8A2D26;
	border:1px solid #CCCA2D;
	padding:4px; 
	clear:both;
	font-size: 90%;
	position: relative;
}

/* CAJA CON LIGAS */
.caja_con_ligas 
{
	clear: both;
	border-top:1px solid #CCC;
	padding:16px 0; 
	clear:both; }

.caja_con_ligas h1 {

	font-size:100%;
	color:#660000; 
	letter-spacing:2px; }

.caja_con_ligas h2 {
	
	text-align:center;
	font-size:96%;
	color:#333;
	font-weight:normal; 
	margin:8px 0; }
	
.caja_con_ligas .lista_elementos_indexada {

	width:44%;
	float:left;  }
	
.caja_con_ligas ol {

	list-style:decimal;
	list-style-position:outside; }
	
.caja_con_ligas li {
	
	line-height:1.3em; }
	
.caja_con_ligas li a {

	font-size:96%; }


.link-rich-box-footer {

	text-align:center; 
	font-size:90%; 
	margin:0;
	padding-top:5px;  }
	
.link-rich-box-footer a {

	font-size:100%; 
	font-family:Georgia, "Times New Roman", Times, sans-serif; }
	
.note
{
	font-size: 9px;
	color: #666666;
}	

div.resaltados {
	overflow:auto;
	border: 6px solid #f0f0d1;
	/*margin-top: 5px;*/
	padding: 10px;
	font-size: 88%;
}

div.resaltados p {
	font-weight:normal; 
	}
	
div.resaltados ul 
{
	margin:10px 8px 20px; 
}	

div.resaltados h2 
{
	margin:0; 
	color:#333333; 
}

#contenido_unico 
{
	float:left;
	width:100%;
	padding-right:10px; 
}

#contenido_principal 
{
	float:left; /* ???? quitar o poner SI LO QUITAMOS contenido_adicional se mueve: CONCLUSION: 
				  DEJARLO EN LEFT, y en cada pagina donde no se use contenido_adicional 
				  redefinir la clase contenido_principal y colocar float:none */
	width:69%;
	padding-left:5px; 
	padding-right:5px; 
	border:0px solid black;
}
	
#contenido_adicional 
{
	float:right;
	width:29%;
	padding-left:3px; 
	padding-right:3px; 
	border:0px dotted purple;
}
	
#contenido_adicional .module 
{
	background-color:#FFF;
}	

/* CAJAS DE DATOS */
div.caja_datos 
{
	position: relative;
	background-color:#F0F0D1;
	padding:5px;
	border:1px solid #CCC; 
	font-family: Tahoma, Lucida, Helvetica, Georgia;
	color: #000;
}
	
div.caja_datos h2, div.caja_datos h4
{
	font-size:105%;
	letter-spacing:1.5px;
	margin:0; 
	color:#333333;
}
	
div.caja_datos input.submit, input.boton
{
	font-family: Verdana;
	background-color:#333333;
	color:#FFFFFF;
	font-size:90%; 
	width:auto;
	padding:2px 5px; 
	letter-spacing:1px; 
	margin-left: 5px;
	/*left: 11em;	*/
}

div.caja_datos #caja_datos_contenido 
{
	width:48%;
	float:left; 
	padding:20px 0 0; 
}	
	
div.caja_datos #vinetas 
{
	width:52%;
	float:left; 
	padding:20px 0.7em 10; 
	color: #000000;
}	

div.caja_datos #vinetas ul 
{
	list-style:square;
	list-style-image:url(../../templates/bullets/mini_bullet.png);
	list-style-type:disc;
	
}

div.caja_datos #vinetas li {
	font-size:100%; 
	margin:0; 
	line-height:1.2em; 
	padding-left: 10px; 
	}

/* FORMAS PARA CAPTURA DE DATOS */ 
form.forma_captura { position:relative; }

form.forma_captura label {   
   display: block;
   float: left;
   margin-bottom: 0.5em;
   text-align: right;
   width: 12em;
   padding-right: 1em;   
   padding-top: 2px;
   margin: 0px;
}

span.span_captura
{
   display: block;
   padding-left: 3px;
   padding-top: 2px;
   padding-bottom: 1px;

}

input.campo_captura 
{
   display: block;
   margin-bottom: 4px;
   font-family: Tahoma, Lucida, Helvetica, Georgia;
   padding-left: 3px;
   padding-top: 1px;
   padding-bottom: 1px;
}

select.select_captura
{
   display: block;
   margin-bottom: 4px;
   font-family: Tahoma, Lucida, Helvetica, Georgia;
   padding-left: 3px;
}

form.forma_captura br {
   clear: left;
}	

/****
 BARRA DE BOTONES
 
 (SE PUEDE REDEFINIR EN CADA VENTANA)
 
 **/
#buttonarea 
{
    display: block;
	float: left;
	position: relative; 
	/*border: 0px solid red;  // debug */
	margin-bottom: 10px; 
	left: 13em;
	font-size: 12px;
	width: 60%;
}

/* master DIV para eleccion de fecha */
div.div_fecha
{  	
   display: inline; /* block hace salto de línea*/
   margin-bottom: 4px;
   padding-left: 3px;
   padding-top: 10px;
   padding-bottom: 1px;	   
	width: 245px;   
}

#menu 
{
   background-color: #c19d63; 
   height: 25px;
   clear: both;
   margin: 0px;
   width: 100%;
}
	
.highlight   
{   
background: #F8DCB8;   
}   
  
.highlight_important   
{   
background: #CEDAEB;   
}  	

/*BULLETS*/
.mini_bullet
{
	float: left;
	width: 20px;
    height: 13px;
	background: url(mini_bullet.png) left top no-repeat;
}
	
TD.cuadricula
{
   padding-top     : 1px;
   padding-bottom  : 1px;   
   border-top : 1px solid #E3DFDF;    
   border-bottom : 1px solid #E3DFDF;    
   border-left : 1px solid #E3DFDF;    
   border-right : 1px solid #E3DFDF;    
}	

TD.columna
{
   padding-left: 3px;
   padding-right: 3px;   
   font-size: 95%;
   color: #000000;
}	

TD.columnaEncabezado
{
   /*font-weight: bold;*/
   border-bottom: 2px solid #989591;
   background: url(fondo_title_columns.png);
   background-repeat: repeat-x;
   background-position: bottom left; 
   padding-top: 4px;
   padding-bottom: 4px;
}	

TD.columnaError
{
   padding-left    : 3px;
   padding-right  : 3px;   
   font-size: 95%;	
   background-color: #FFEC8B;

   /* for IE */
	/*filter:alpha(opacity=60);*/

	/* CSS3 standard */
	/*opacity:0.6;*/
}

.label_info {
   display: block;
   float: left;
   margin-bottom: 0.5em;
   text-align: right;
   width: 15%;
   padding-right: 5px;
   margin: 0px;
   font-weight: bold;
   clear: bottom;
   border: 0px solid red;
}

.data_info {
   display: block;
   float: left;
   
   margin-bottom: 0.5em;
   text-align: left;
   width: 80%;   
   padding-left: 5px;
   
   margin: 0px;
   /*clear: both;   OJO JAVIER */
   border: 0px solid green;  
}

TR.trHilited
{
	background: #FAF9B3;
	border: 2px solid red;
}

div.popup
{
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	padding-top: 12px;
	background-color: #FCFBD0;
	border: 1px solid gray; 
	font-family: Tahoma, Lucida, Helvetica, Georgia;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;	
}

div.popup H2
{
	position: absolute;
	font-size: 100%;
	margin-left: 5px;
	padding: 5px;
	background: #FAF9B5;
	top: -8px;
	font-family: Tahoma, Lucida, Helvetica, Georgia;
}

	div.popup a
	{	
		position: relative;
		display: block;
		margin: 0;
		padding: 5px 5px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		/*background-color: #F1F0D0;*/
		color: #000; 
		font-size: 11px;
		border: 0px solid black;
	}
	
	div.popup a:hover
	{	
		border: 0px solid black;
		background-color:#F8DC1F;
	}	
	
/* TABS */
/* tabuladores o menús */
.tabset_tabs	{ margin:0; list-style-type:none; position:relative; height: 18px; border-bottom: 1px solid gray; padding:0px; }  /* JELS */
.tabset_tabs li	{ margin:0; display:inline; }
.tabset_tabs a	{ color :#339; background-color:white; border:1px solid silver; text-decoration:none; padding:4px 1em; border-left-width:1; border-bottom:1px solid gray; }
.tabset_tabs a:hover	{ color:#00c; background-color: #FCF247; text-decoration: underline; border-top: 2px solid gray;  }
.tabset_tabs a.active	{ color:black; background-color:#f2f1ae; border-bottom: 1px solid #f2f1ae; border-top: 2px solid gray;  border-left:2px solid gray; border-right:2px solid gray; 
                          cursor:default; padding-left:-2px; padding-top:2px; font-weight: bold;  }

.tabset_tabs li.firstchild a	{ border-left-width:1px }

DIV.contenedor_tabs
{
	position: relative;
	background: #FFFFFF url(fondo_tabs.jpg) repeat-x;
	padding: 5px; /* JELS */
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: gray;
	/* border-top-color: gray;
	border-top-width: 1px;
	border-top-style: solid;*/
	margin-top: 0px;
	overflow: auto;
   }
  
  
/* clausulas A que cuentan con imagenes y algún texto (probablemente) */  
 .icon_link
 {
	position: relative;  /*  05may2009 */	
	top: 1px;			 /*  05may2009  */
	height: 10px;  		 /*  05may2009  */
	border: 1px solid #E3DFDF;    
	background: #fff;
	margin: 1px;
	padding: 2px;
	text-decoration: none;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	
 }
 
  .icon_link:hover
 {
	border: 1px dotted #E3DFDF;    
	background: yellow;
	text-decoration: none;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
 }
 
 .icon_link IMG
 {
	position: relative;
	top: 4px;
 }
 
 /* caja estilo TPanel de Delphi, usando H2 como caption */
 div.groupbox
 {
	border: 1px solid silver; 
	padding:5px 5px 0px 5px;  /* 0 - abajo */
	margin-right: 5px;
 }
 
 div.groupbox H2
 {
	display: inline; 
	position: relative; 
	top: -12px; 
	padding-left: 5px; 
	padding-right: 5px; 
	background-color: #fff; 
	font-weight: bold;
 }
 
 div.groupbox TABLE
 {
	/*position: relative;*/
	top: -5px;
 }
  
  /***
  COLOCAR EN SCREEN.CSS
 */
/* The hint to Hide and Show */
.sp_hint {
   	display: none;
    position: absolute;
    right: 10px;
    width: 200px;
    margin-top: -24px;
    border: 1px solid #c93;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #ffc url(pointer.gif) no-repeat -10px 5px;
}

/* The pointer image is hadded by using another span */
.sp_hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(pointer.gif) left top no-repeat;
}

TR.hilite_even, DIV.hilite_even
{
	background: #FFF;
}

TR.hilite_odd, DIV.hilite_odd
{
	background: #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}

DIV.hilite_onmouse_enter, TR.hilite_onmouse_enter TD
{
	background: #DBDB70;
	border-bottom: 1px dotted black;
}

/* para el bloqueo de pantalla en POPUPS
   Agregado por JELS: 22-oct-2009
 */
#popUpBlock
{
	display: none;
	position: absolute;
	background-color: gray;
	left: 1px;
	
	top: 4px;
	width: 100%;
	min-height: 99%;
	overflow: auto;

	filter:alpha(opacity=35);
	-moz-opacity:0.35;
	opacity: 0.35;		
	
	border: 0px solid silver;
	border-bottom: 4px solid gray;
	
	z-Index: 48;
}

/* CAJA COMMENTARIOS 
   05nov2009
*/
.caja_comentarios
{
	clear: both;
	border-top: 1px dotted #CCC;
	padding-top: 10px; 
	clear: both; 
}

.caja_comentarios .perfil_usuario
{
	font-size:110%;
	color:#660000; 
	width: 29%;
	float: left;
	
}
		
.caja_comentarios .perfil_usuario H1
{
	font-size:105%;
	color:black; 
	display: inline;
}

.caja_comentarios .perfil_usuario H2
{
	font-size:95%;

	letter-spacing:1px; 
	display: inline;
}

.caja_comentarios .perfil_usuario H3
{
	font-size:85%;
	display: inline;
}

.caja_comentarios .perfil_usuario A
{
	font-size:80%;
	display: inline;
}

.caja_comentarios .detalles
{
	font-size:100%;
	color: #000; 
	/*background-color: #F00;*/
	width: 70%;
	float: right;
	border-left: 1px solid silver;
	padding-left: 5px;
}

.caja_comentarios .detalles H1
{
	font-size:120%;
	color:black; 
	letter-spacing:1px; 
	display: inline;
}